---
lang: ar-sa
direction: rtl
layout: homepage-ar
title: 'ميم من بنك الخليج الدولي | مصرفية رقمية'
description: ميم من بنك الخليج الدولي يقدم خدمات مصرفية رقمية الأولى من نوعها في المملكة العربية السعودية
social-audio:
social-video:
social-media:
  - tw-summary: ميم من قبل بنك الخليج الدولي هو بنك خدم الذاتي من قبل بنك الخليج الدولي
    tw-title: الخدمات المصرفية الشخصية ميم
homepage-banner-ar:
  - Slide1:
    ar-banner-image_path: /resources/images/banners/meem_exit_terminal-banner.jpg
    ar-banner-alt-text: 'م | الخدمات المصرفية الر'
    ar-banner-main-title: '<strong>  اهلا بك في المصرفية الرقمية </strong>'
    ar-banner-subtitle: من بنك الخليج الدولي
    ar-banner-button-01-url: 'http://www.meem.com/ar/meem-products-services-ar.html'
    ar-banner-button-01-target: _self
    ar-banner-button-01-text: تفاصيل أكثر
    ar-banner-button-02-url: 'https://online.meem.sa/default.aspx?culture=ae'
    ar-banner-button-02-target: _self
    ar-banner-button-02-text: سجل دخول لحسابك
    ar-banner-button-03-url: 'https://online.meem.sa/default.aspx?startpage=onboarding&culture=ae'
    ar-banner-button-03-target: _self
    ar-banner-button-03-text: افتح حساب
usp-block1:
  - feature-block1:
    feature-class:
    feature-title:
    feature-text:
  - feature-block2:
    feature-class:
    feature-title:
    feature-text:
  - feature-block3:
    feature-class:
    feature-title:
    feature-text:
usp-block2:
  - feature-block4:
    feature-class:
    feature-title:
    feature-text:
  - feature-block5:
    feature-class:
    feature-title:
    feature-text:
  - feature-block6:
    feature-class:
    feature-title:
    feature-text:
permalink: /ar/index.html
alt_url: /en/index.html
sitemap:
  exclude:
---
{%comment %} Slider======================================= {% endcomment %}
<div class="slidermar1" dir="ltr">
    <div class="master-slider ms-skin-default" id="masterslider">

        <div class="ms-slide slide-1" data-delay="9">

            <div class="slide-pattern"></div>

            <!--{% include /components/media/homepage-youtube-background.html %}-->
            {% for slider in page.homepage-banner-ar %}
            <img src="{{ slider.ar-banner-image_path }}" data-src="{{ slider.ar-banner-image_path }}" alt="{{ slider.ar-banner-alt-text }}" />

            <h3 class="ms-layer text1 center" style="right: 0; top: 300px;" data-type="text" data-effect="top(45)" data-duration="2000" data-delay="500" data-ease="easeOutExpo">{{ slider.ar-banner-main-title }}</h3>

            <h4 class="ms-layer text2 center" style="right: 0; top: 355px;" data-type="text" data-effect="top(45)" data-duration="1200" data-delay="1500" data-ease="easeOutExpo">{{ slider.ar-banner-subtitle }}</h4>

            <a class="ms-layer sbut2" style="right: 450px; top: 500px;" data-type="text" href="{{ slider.ar-banner-button-01-url }}" target="{{ slider.ar-banner-button-01-target }}" id="learn_more_button_ar_home" data-effect="bottom(45)" data-duration="2000" data-delay="1500" data-ease="easeOutExpo">{{ slider.ar-banner-button-01-text }}</a>

            <a class="ms-layer sbut2" href="{{ slider.ar-banner-button-02-url }}" target="{{ slider.ar-banner-button-02-target }}" style="right: 622px; top: 500px;" id="login_button_ar_home" data-type="text" data-effect="bottom(45)" data-duration="1200" data-delay="1200" data-ease="easeOutExpo">{{ slider.ar-banner-button-02-text }}</a>

            <a class="ms-layer sbut2" href="{{ slider.ar-banner-button-03-url }}" target="{{ slider.ar-banner-button-03-target }}" style="right: 850px; top: 500px;" id="apply_now_button_ar_home" data-type="text" data-effect="bottom(45)" data-duration="1200" data-delay="800" data-ease="easeOutExpo">{{ slider.ar-banner-button-03-text }}</a>
            {% endfor %}
        </div>{% comment %} end slide 1 {% endcomment %}

    </div>
</div>{% comment %} end of masterslider {% endcomment %}

<div class="clearfix"></div>
<a id="learn_more"></a>

<div class="featured_section31">
    <div class="container">
        <h2 class="animate editable" data-anim-type="fadeIn" data-anim-delay="200">ليش ميم ؟</h2>
    </div>
</div>

<div class="clearfix"></div>

<div class="featured_section81 colored">
    <div class="container animate" data-anim-type="fadeIn" data-anim-delay="300">

        <div class="box">

            <span aria-hidden="true" class="fa fa-dollar"></span>
            <h4 class="editable">بطاقة العملات</h4>
            <p class="editable">بطاقة صراف من فيزا تربطها بأربع عملات أجنبية و لك 8 عملات تختار منها اللي يناسب سفرتك</p>

        </div>

        <div class="box">

            <span aria-hidden="true" class="fa fa-briefcase"></span>
            <h4 class="editable">التقديم على المنتجات</h4>
            <p class="editable">التقديم على المنتجات عن طريق التطبيق او الأونلاين بدون ما تعبي أي ورقة!</p>

        </div>

        <div class="box">

            <span aria-hidden="true" class="fa fa-hand-o-right"></span>
            <h4 class="editable">خدمة ذاتية</h4>
            <p class="editable">من خلال جهاز الخدمة الذاتية تقدر تسحب إلى حد 50 ألف ريال و تودع مبالغ قد ما تبغى</p>

        </div>

        <div class="clearfix"></div>

        <div class="box">

            <span aria-hidden="true" class="fa fa-globe"></span>
            <h4 class="editable">مصرفية رقمية</h4>
            <p class="editable">ميم من بنك الخليج الدولي هو أول مصرف رقمي متوافق مع أحكام الشريعة في العالم!</p>

        </div>

        <div class="box">

            <span aria-hidden="true" class="fa fa-money"></span>
            <h4 class="editable">التمويل الشخصي والبطاقات الإئتمانية</h4>
            <p class="editable">نضمن لك رد على طلبك في خلال 5 دقايق من التقديم طوال أيام الأسبوع بدون ما تحتاج لزيارة مراكزنا</p>

        </div>

        <div class="box">

            <span aria-hidden="true" class="fa fa-clock-o"></span>
            <h4 class="editable">فاتحين حتى بالليل</h4>
            <p class="editable">تقدر تزور منافذ الخدمة طول أيام الأسبوع من الساعة 9 صباحاً إلى 11 مساءً</p>

        </div>

    </div>
</div>

<div class="featured_section27">
    <div class="container">

        <h2 class="title21 editable">متى ما بغيت، ومن وين ما كنت<em> استمتع بمصرفية ميم</em></h2>

        <div class="onecol_thirtyfive left animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <i class="fa fa-calculator"></i>
            <h4 class="editable">حاسبة صرف العملات</h4>
            <p class="editable">من خلال هذه الآلة الحاسبة راح تقدر تحسب قيمة المبالغ بالعملة الأجنبية اللي تبغاها قبل ما تنفذ أي عملية تحويل. كذا قراراتك في تحويل العملات تكون مدروسة.</p>

            <div class="clearfix margin_top4"></div>

            <i class="fa fa-money"></i>
            <h4 class="editable">سداد</h4>
            <p class="editable">من خلال خدمة سداد، تقدر تضيف فواتيرك، وتراجعها، وتدفعها، وتضبط آليا رسائل تذكيرية تجيك بالوقت اللي يناسبك.</p>

            <div class="clearfix margin_top4"></div>

            <i class="fa fa-user-plus"></i>
            <h4 class="editable">إدارة المستفيدين</h4>
            <p class="editable">بكل سهولة تقدر تضيف المستفيدين من خلال الأون لاين أو تطبيق ميم و تفعلهم من خلال &nbsp;رسالة نصية.</p>

        </div>

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="300"><img src="/resources/images/site-img25.jpg" alt="صورة التطبيق المصرفي ميم على اي فون" class="rimg" /></div>

        <div class="onecol_thirtyfive last right animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <i class="fa fa-line-chart"></i>
            <h4 class="editable">الميزانية</h4>
            <p class="editable">هذه الأداة تمكنك من ضبط ميزانيتك وتتبع مصاريفك وإنشاء رسوم بيانية تبين لك نمط مصاريفك. وبذلك راح تقدر إنك تتخذ قرارات إدخارية بثقة أعلى.</p>

            <div class="clearfix margin_top4"></div>

            <i class="fa fa-refresh"></i>
            <h4 class="editable">الإدخار التلقائي</h4>
            <p class="editable">هذه الميزة تمكنك من تحديد سقف نقدي لحسابك الجاري، وبشكل آلي راح يتحوَّل الفائض على حساب التوفير بطريقة سلسلة ومن غير ما تشوف أي نقصان للمبالغ في حسابك.</p>

            <div class="clearfix margin_top4"></div>

            <i class="fa fa-archive"></i>
            <h4 class="editable">الحصالة</h4>
            <p class="editable">وإذا كنت من الناس اللي تحب إنها تدخر ، ابتكرنا لك خدمة "الحصَّالة" اللي تقدر من خلالها توفر أموالك وتحقق لك أهداف توفير متنوعة.</p>

        </div>

    </div>
</div>

<div class="clearfix margin_top8"></div>

<div class="title33">
    <h1 class="white"><strong> مراكزنا ومنافذ الخدمة</strong></h1>
</div>

<div class="clearfix"></div>

<div class="works01">

    <div id="grid-container" class="cbp-l-grid-fullWidth">
        {% for grid in site.stores %}
        <div class="cbp-item">
            <a href="{{ grid.store-grid-lightbox-image }}" class="cbp-caption cbp-lightbox" data-title="{{ grid.ar-store-grid-lightbox-title }}">
                <div class="cbp-caption-defaultWrap">
                    <img src="{{ grid.store-grid-lightbox-image }}" alt="{{ grid.ar-store-grid-description }}" />
                </div>
                <div class="cbp-caption-activeWrap center">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <h4>{{ grid.ar-store-grid-title }}</h4>
                            <h6>{{ grid.ar-store-grid-description }}</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
</div>

<div class="clearfix margin_top10"></div>

<div class="featured_section26">
    <div class="container">

        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="300">

            <div class="cont">
                <a href="meem-locations-ar.html"> <h3 class="editable">زور أقرب مركز ميم</h3></a>
                <h5 class="editable">تبغى تزورنا؟</h5>
                <p class="margin_top1 editable">عندنا 12 مركز ومنفذ خدمة منتشرين في الرياض، وجدة، والدمام، والخبر، والظهران. بعض منافذ الخدمة تحت خدمتك حتى في الليل وطول أيام الأسبوع.</p>
            </div>

            <i class="fa fa-map-marker"></i>

        </div>

        <!-- <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="200">

            <div class="cont">
                <h3>تواصل معنا عن طريق الشات</h3>
                <h5>تفضل الشات وما تبغى تكلمنا عبر الهاتف؟</h5>
                <p class="margin_top1">ولا يهمك، فريق رعاية العملاء في م تحت خدمتك ويقدر يجاوب على اسئلتك عن طريق الشات بالوقت اللي يناسبك.</p>
            </div>

            <i class="fa fa-comments"></i>

        </div> -->

        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="100" style="float:right">

            <div class="cont editable"><h3>كلمنا على 920026336</h3><h5>تبي نتكلم عن خدماتنا ومنتجاتنا؟</h5><p class="margin_top1">فريق رعاية العملاء في م موجود وحاضر وتحت الخدمة 24 ساعة طوال أيام الأسبوع.</p></div>

            <i class="fa fa-phone"></i>

        </div>

    </div>
</div>

<div class="clearfix margin_top10"></div>

<div class="featured_section31">
    <div class="container">
        <h2 class="animate editable" data-anim-type="fadeIn" data-anim-delay="200">حساب ميم</h2>
    </div>
</div>

<div class="clearfix margin_top5"></div>

<div class="featured_section28">
    <div class="container">

        <div class="one_half hidden-lg hidden-md hidden-sm">
            <div><a href="/ar/meem-one-pack-account-ar.html" target="parent"><img src="/resources/images/media/meem_one_pack_player.jpg" alt="ميم - لدينا حساب حزمة واحدة" class="rimg" /></a></div>
        </div>

        <div class="one_half textright">

            <div class="stcode_title5 ">
                <h3 class="nmb textright editable"><strong>حساب ميم</strong></h3>
            </div>

            <p class="bigtfont editable">حساب ميم يشمل حسابك الجاري والتوفير تحت حساب واحد في نفس الوقت. و من مميزات الحساب:</p>

            <div class="isboxs animate" data-anim-type="fadeInUp" data-anim-delay="100">

                <span aria-hidden="true" class="fa fa-magic"></span>

                <h5 class="editable">1- الحصالة: تساعدك بتحديد أهدافك بخطة توفير عشان تحققه</h5>

            </div>

            <div class="isboxs animate" data-anim-type="fadeInUp" data-anim-delay="200">

                <span aria-hidden="true" class="fa fa-database"></span>

                <h5 class="editable">2- الميزانية: تخليك تضبط مصاريفك و تتابعها علشان تعرف وين فلوسك تروح</h5>

            </div>

            <div class="isboxs animate" data-anim-type="fadeInUp" data-anim-delay="300">

                <span aria-hidden="true" class="fa fa-pie-chart"></span>

                <h5 class="editable">3- التحويل الآلي: تقدر فيه تنقل فلوسك ما بين حسابك الجاري والتوفير</h5>

            </div>

            <p class="margin_top2">
                <a class="but_small4meem animate editable" data-anim-type="fadeInUp" data-anim-delay="700" style="margin-left: 20px;" href="http://online.meem.sa/default.aspx?startpage=onboarding&culture=ae" target="_parent">افتح حساب</a>
                <a class="but_small4 animate editable" data-anim-type="fadeInUp" data-anim-delay="700" href="/ar/meem-one-pack-account-ar.html" target="_parent">تفاصيل أكثر</a>
            </p>
            <div class="clearfix marb12"></div>

        </div>

        <div class="one_half last hidden-xs">
            <iframe width="100%" height="325" src="https://www.youtube.com/embed/C7wIFvSxMC8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
           <!-- <div><a href="meem-one-pack-account-ar.html" target="parent"><img src="/resources/images/media/meem_one_pack_player.jpg" alt="ميم - لدينا حساب حزمة واحدة" class="rimg" /></a></div> -->
        </div>

    </div>
</div>

<div class="clearfix margin_top4"></div>

<div class="parallax_section4">
    <div class="container">

        <h2 class="title21 white editable">منتجاتنا وخدماتنا الأخرى</h2>

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="100">

            <div class="outline"><div class="circle"><img src="/resources/images/icons/icon_loan.png" alt="التمويل الشخصي" /></div></div>
            <h3 class="white editable">التمويل الشخصي</h3>
            <p class="white editable">تمويل شخصي مبني على المرابحة متوافق مع أحكام الشريعة ويتميز بسهولة وسرعة إجراءاته</p>
            <p><a href="meem-personal-finance-ar.html" class="but_small4 margin_top6 editable">تفاصيل أكثر</a></p>

        </div>

        <div class="one_fourth animate" data-anim-type="fadeInDown" data-anim-delay="100">

            <div class="outline"><div class="circle"><img src="/resources/images/icons/icon_creditcard.png" alt="بطاقة م الإئتمانية" /></div></div>
            <h3 class="white editable">بطاقة ميم الإئتمانية</h3>
            <p class="white editable"><span dir="RTL">بطاقة فيزا البلاتنية الإئتمانية المتوافقة مع أحكام الشريعة &nbsp;ذات مزايا متعددة&nbsp;</span></p>
            <p><a href="meem-visa-platinum-credit-card-ar.html" class="but_small4 margin_top6 editable">تفاصيل أكثر</a></p>

        </div>

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="100">

            <div class="outline"><div class="circle"><img src="/resources/images/icons/icon_murabaha.png" alt="وديعة المرابحة" /></div></div>
            <h3 class="white editable">وديعة المرابحة</h3>
            <p class="white editable">إستثمار مبني على المضاربة متوافق مع أحكام الشريعة، يتميز بعوائده و قلة مخاطره</p>
            <p><a href="meem-murabaha-deposit-ar.html" class="but_small4 margin_top6 editable">تفاصيل أكثر</a></p>

        </div>

        <div class="one_fourth last animate" data-anim-type="fadeInUp" data-anim-delay="100">

            <div class="outline"><div class="circle"><img src="/resources/images/icons/icon_currency.png" alt="بطاقة العملات" /></div></div>
            <h3 class="white editable">بطاقة العملات</h3>
            <p class="white editable"><span dir="RTL">بطاقة صراف&nbsp; فيزا &nbsp;متوافقه مع أحكام الشريعة يمكنك ربطها&nbsp; بأربع حسابات عملات أجنبية مختلفة&nbsp;</span></p>
            <p><a href="meem-currency-card-ar.html" class="but_small4 margin_top6 editable">تفاصيل أكثر</a></p>

        </div>

    </div>
</div>

<div class="clearfix margin_top4"></div>
