---
lang: ar-sa
direction: rtl
layout: default-ar
title: 'مواقع مراكز ميم | خدمات مصرفية ذاتية'
description: عندنا 12 مركز ومنفذ خدمة منتشرين في الرياض، وجدة، والدمام، والخبر، والظهران. بعض منافذ الخدمة تحت خدمتك حتى في الليل وطول أيام الأسبوع.
social-audio:
social-video:
social-media:
  - tw-summary:
    tw-title:
permalink: /ar/meem-locations-ar.html
alt_url: /en/meem-locations-en.html
sitemap:
  exclude:
---
<div class="page_title1 stycc">
    <div class="container">
        <h1 class="editable"><em><span style="font-size: 40px; text-transform: uppercase;"><b>مواقع مراكز ميم</b></span></em></h1>
    </div>
</div>

<div class="clearfix"></div>

<div class="content_fullwidth">

    <div class="container" style="margin: 10px 25px;">
        
        <div class="container">
              <p class="editable"> </p>
            </div>


        <div class="two_third">
            {% include components/google/maps/riyadh-meem-store.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الرياض</h1>
            <p class="editable">المركز الرئيسي</p>
            <p class="editable">مبنى التأمينات الإجتماعية<br />واحة غرناطة,<br />طريق المطار.<br />أوقات العمل الرسمي: من الساعة 09:30 الصباح إلى الساعة 04:30 المساء من يوم الأحد إلى الخميس.<br /><br />*أوقات العمل في عطلة عيد الأضحى: من الساعة 10:00 الصباح إلى 04:00 المساء من تاريخ 13 إلى 15 سبتمر.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third">
            {% include components/google/maps/riyadh-meem-nano1.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الرياض</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">بانوراما مول<br />مقابل بوابة 2<br />شارع التخصصي.<br />أوقات العمل الرسمي:&nbsp;<br />- السبت إلى الخميس: من الساعة 9 الصباح إلى 11 المساء.<br />- يوم الجمعة: من الساعة 4 الظهر إلى 11 المساء.<br /><br />*لإستكمال إجراءات فتح الحساب يرجى زيارة المركز الرئيسي.<br /><br />** منافذ الخدمة سوف تكون مغلقة في عطلة عيد الأضحى من تاريخ 9 إلى 17 سبتمبر.<br /><span dir="LTR"></span></p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/riyadh-meem-nano2.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الرياض</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">إكسترا الصحافة,<br />شارع الثمامة.<br />أوقات العمل الرسمي:<br />- السبت إلى الخميس: من الساعة 9 الصباح إلى 11 المساء.<br />- يوم الجمعة: من الساعة 4 الظهر إلى 11 المساء.<br /><br />*لإستكمال إجراءات فتح الحساب يرجى زيارة المركز الرئيسي.<br /><br />** منافذ الخدمة سوف تكون مغلقة في عطلة عيد الأضحى من تاريخ 9 إلى 17 سبتمبر.<br /><span dir="LTR"></span></p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/riyadh-meem-nano3.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الرياض</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">إكسترا الورود،<br />شارع الملك عبدالعزيز.<br />أوقات العمل الرسمي:<br />- السبت إلى الخميس: من الساعة 9 الصباح إلى 11 المساء.<br />- يوم الجمعة: من الساعة 4 الظهر إلى 11 المساء.<br /><br />*لإستكمال إجراءات فتح الحساب يرجى زيارة المركز الرئيسي.<br /><br />** منافذ الخدمة سوف تكون مغلقة في عطلة عيد الأضحى من تاريخ 9 إلى 17 سبتمبر.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-store.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">جدة</h1>
            <p class="editable">المركز الرئيسي</p>
            <p class="editable">مبنى المكاتب الخاصة،&nbsp;<br />طريق الأمير سلطان.<br />أوقات العمل الرسمي: من الساعة 09:30 الصباح إلى الساعة 04:30 المساء من يوم الأحد إلى الخميس.<br /><br />*أوقات العمل في عطلة عيد الأضحى: من الساعة 10:00 الصباح إلى 04:00 المساء من تاريخ 13 إلى 15 سبتمر.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-nano1.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">جدة</h1>
            <p class="editable">منفذ الخدمة</p>
            <p class="editable">إكسترا طريق المطار القديم,<br />أوقات العمل الرسمي:<br />- السبت إلى الخميس: من الساعة 10 الصباح إلى 12 المساء.<br />- يوم الجمعة: من الساعة 5 المساء إلى 12 المساء.<br /><br />*لإستكمال إجراءات فتح الحساب يرجى زيارة المركز الرئيسي.<br /><br />** منافذ الخدمة سوف تكون مغلقة في عطلة عيد الأضحى من تاريخ 9 إلى 17 سبتمبر.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-nano2.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">جدة</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">الردسي مول،<br />مقابل بوابة 2،<br />طريق الملك عبدالعزيز.<br />أوقات العمل الرسمي:<br />- السبت إلى الخميس: من الساعة 10:00 الصباح إلى 11 المساء.<br />- يوم الجمعة: من الساعة 5 المساء إلى 11 المساء.<br /><br />*لإستكمال إجراءات فتح الحساب يرجى زيارة المركز الرئيسي.<br /><br />** منافذ الخدمة سوف تكون مغلقة في عطلة عيد الأضحى من تاريخ 9 إلى 17 سبتمبر.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-nano3.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">جدة</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">إكسترا طريق الأمير سلطان,<br />أوقات العمل الرسمي:<br />- السبت إلى الخميس: من الساعة 10 الصباح إلى 12 المساء.<br />- يوم الجمعة: من الساعة 5 المساء إلى 12 المساء.<br /><br />*لإستكمال إجراءات فتح الحساب يرجى زيارة المركز الرئيسي.<br /><br />** منافذ الخدمة سوف تكون مغلقة في عطلة عيد الأضحى من تاريخ 9 إلى 17 سبتمبر.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-store.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الظهران</h1>
            <p class="editable">المركز الرئيسي</p>
            <p class="editable">برج الكفاح<br />طريق الدمام - الخبر السريع<br />أوقات العمل الرسمي: من الساعة 09:30 الصباح إلى الساعة 04:30 المساء من يوم الأحد إلى الخميس.<br /><br />*أوقات العمل في عطلة عيد الأضحى: من الساعة 10:00 الصباح إلى 04:00 المساء من تاريخ 13 إلى 15 سبتمر.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-nano1.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الخبر</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">مجمع الراشد مقابل بوابة 5<br />أوقات العمل الرسمي:<br />- السبت إلى الخميس: من الساعة 9 الصباح إلى 11 المساء.<br />- يوم الجمعة: من الساعة 4 العصر إلى 11 المساء.<br /><br />*لإستكمال إجراءات فتح الحساب يرجى زيارة المركز الرئيسي.<br /><br />** منافذ الخدمة سوف تكون مغلقة في عطلة عيد الأضحى من تاريخ 9 إلى 17 سبتمبر.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-nano2.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الخبر</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">إكسترا الخبر<br />أوقات العمل الرسمي:<br />- السبت إلى الخميس: من الساعة 9 الصباح إلى 11 المساء.<br />- يوم الجمعة: من الساعة 4 العصر إلى 11 المساء.<br /><br />*لإستكمال إجراءات فتح الحساب يرجى زيارة المركز الرئيسي.<br /><br />** منافذ الخدمة سوف تكون مغلقة في عطلة عيد الأضحى من تاريخ 9 إلى 17 سبتمبر.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-nano3.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الدمام</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">مجمع الشاطئ.<br />حي الشاطئ، تقاطع شارع الأمير محمد بن فهد و شارع الأشرعة.<br />أوقات العمل الرسمي:<br />- السبت إلى الخميس: من الساعة 9 الصباح إلى 11 المساء.<br />- يوم الجمعة: من الساعة 4 العصر إلى 11 المساء.<br /><br />*لإستكمال إجراءات فتح الحساب يرجى زيارة المركز الرئيسي.<br /><br />** منافذ الخدمة سوف تكون مغلقة في عطلة عيد الأضحى من تاريخ 9 إلى 17 سبتمبر.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />
</div>