---
lang: en-us
layout: homepage-en
title: Self Service Digital Banking
description: Meem by GIB is a self served personal bank offered by Gulf International Bank in Saudi Arabia.
social-audio:
social-video:
social-media:
  - tw-summary: Meem by GIB is a self served bank by Gulf International Bank
    tw-title: meem digital personal banking
homepage-banner-en:
  - en-banner-image_path: /resources/images/banners/meem_exit_terminal-banner.jpg
    en-banner-alt-text: 'meem | Digital Personal Banking'
    en-banner-main-title: '<strong>Welcome to meem by GIB</strong>'
    en-banner-subtitle: "Region's first digital bank"
    en-banner-button-01-url: 'http://www.meem.com/en/meem-products-services-en.html'
    en-banner-button-01-target: _self
    en-banner-button-01-text: Learn More
    en-banner-button-02-url: 'http://online.meem.sa/default.aspx'
    en-banner-button-02-target: _self
    en-banner-button-02-text: Login
    en-banner-button-03-url: 'http://online.meem.sa/default.aspx?startpage=onboarding&culture=us'
    en-banner-button-03-target: _self
    en-banner-button-03-text: Apply Now
usp-block1:
  - feature-block1:
    feature-class: fa-hand-o-right
    feature-title: Self Service
    feature-text: Through our self-service terminals you can withdraw up to SAR 50K and make unlimited deposits
  - feature-block3:
    feature-class: fa-dollar
    feature-title: Currencies Card
    feature-text: A dynamic Visa debit card which carries up to four foreign currencies with 8 currencies to choose from
  - feature-block2:
    feature-class: fa-briefcase
    feature-title: Applying for Products
    feature-text: Through our innovative app and web banking applying for products is only few clicks away
usp-block2:
  - feature-block4:
    feature-class: fa-clock-o
    feature-title: Open at Night
    feature-text: 'For your convenience, our stores are open 7 days a week from 9:30 to 23:00'
  - feature-block5:
    feature-class: fa-money
    feature-title: 'Personal Finance &amp; Credit Cards'
    feature-text: Apply and we will guarantee you getting a response within 5 minutes 24/7 without visiting the store
  - feature-block6:
    feature-class: fa-globe
    feature-title: Digital Banking
    feature-text: meem by Gulf International Bank is the first Sharia compliant digital bank in the world
permalink: /en/index.html
alt_url: /ar/index.html
sitemap:
  exclude:
---

{% comment %} Slider  ======================================= {% endcomment %}
<div id="mslider" class="slidermar1">
    <div class="master-slider ms-skin-default" id="masterslider">

        <div class="ms-slide slide-1" data-delay="9">

            <div class="slide-pattern"></div>
            <!--{% include /components/media/homepage-youtube-background.html %}-->
            {% for item in page.homepage-banner-en %}
            <img src="{{ item.en-banner-image_path }}" data-src="{{ item.en-banner-image_path }}" alt="{{ item.en-banner-alt-text }}" class="editable" />

            <h3 class="ms-layer text1 center editable" style="left: 0; top: 300px;" data-type="text" data-effect="top(45)" data-duration="2000" data-delay="500" data-ease="easeOutExpo">
                {{ item.en-banner-main-title }}
            </h3>

            <h4 class="ms-layer text2 center" style="left: 0; top: 355px;" data-type="text" data-effect="top(45)" data-duration="2000" data-delay="1000" data-ease="easeOutExpo">
                {{ item.en-banner-subtitle }}
            </h4>

            <a class="ms-layer sbut2" href="{{ item.en-banner-button-01-url }}" target="{{ item.en-banner-button-01-target }}" style="left: 450px; top: 500px;" id="learn_more_button" data-type="text" data-delay="400" data-ease="easeOutExpo" data-duration="1200" data-effect="scale(1.5,1.6)">
               {{ item.en-banner-button-01-text }}
            </a>

            <a class="ms-layer sbut2" href="{{ item.en-banner-button-02-url }}" target="{{ item.en-banner-button-02-target }}" style="left: 650px; top: 500px;" id="login_button" data-type="text" data-delay="800" data-ease="easeOutExpo" data-duration="1200" data-effect="scale(1.5,1.6)">
                {{ item.en-banner-button-02-text }}
            </a>

            <a class="ms-layer sbut2" href="{{ item.en-banner-button-03-url }}" target="{{ item.en-banner-button-03-target }}" style="left: 800px; top: 500px;" id="apply_now_button" data-type="text" data-delay="1200" data-ease="easeOutExpo" data-duration="1200" data-effect="scale(1.5,1.6)">
                {{ item.en-banner-button-03-text }}
            </a>
            {% endfor %}
        </div>

    </div>
</div>

<div class="clearfix"></div>
<a id="learn_more"></a>

<div class="featured_section31">
    <div class="container">
        <h2 class="animate editable" data-anim-type="fadeIn" data-anim-delay="200">Why choose Meem?</h2>
    </div>
</div>

<div class="clearfix"></div>


<div class="featured_section81 colored">
    <div class="container animate" data-anim-type="fadeIn" data-anim-delay="300">
        {% for item in page.usp-block1 %}
        <div class="box"><p><span aria-hidden="true" class="fa {{ item.feature-class }}"></span></p><h4>{{ item.feature-title }}</h4><p>{{ item.feature-text }}</p></div>
        {% endfor %}
        <div class="clearfix"></div>
        {% for item in page.usp-block2 %}
        <div class="box"><p><span aria-hidden="true" class="fa {{ item.feature-class }}"></span></p><h4>{{ item.feature-title }}</h4><p>{{ item.feature-text }}</p></div>
        {% endfor %}
    </div>
</div>

<div class="featured_section27">
    <div class="container">

        <h2 class="title21 editable">Enjoy Awesome Banking! <em> Anytime, Anywhere</em></h2>

        <div class="onecol_thirtyfive left animate" data-anim-type="fadeInLeft" data-anim-delay="300">

            <i class="fa fa-line-chart"></i>
            <h4 class="editable">Budgeting</h4>
            <p class="editable">You can set your budget and intelligently keeps track of your spending with interactive charts.</p>

            <div class="clearfix margin_top4"></div>

            <i class="fa fa-refresh"></i>
            <h4 class="editable">Auto-Sweep</h4>
            <p class="editable">Decide a cash surplus level and automatically save your money into your deposit account.</p>

            <div class="clearfix margin_top4"></div>

            <i class="fa fa-archive"></i>
            <h4 class="editable">Jam Jar</h4>
            <p class="editable">By using Jam Jars you can create and keep constant track of your personal saving plans.</p>

        </div>

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="300"><img src="/resources/images/site-img25.jpg" alt="picture of Meem banking app on an iPhone" class="rimg editable" /></div>

        <div class="onecol_thirtyfive last right animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <i class="fa fa-calculator"></i>
            <h4 class="editable">Currency Exchange Calculator</h4>
            <p class="editable">Calculate exchange rates and review the currency amounts before making any payments.</p>

            <div class="clearfix margin_top4"></div>

            <i class="fa fa-money"></i>
            <h4 class="editable">Bill Payments (Sadad)</h4>
            <p class="editable">Manage, view and pay your bills online. We'll also send you reminders as bills are due.</p>

            <div class="clearfix margin_top4"></div>

            <i class="fa fa-user-plus"></i>
            <h4 class="editable">Beneficiary Management</h4>
            <p class="editable">Create beneficiaries online, group them, label them and even pull their own social media profile.</p>

        </div>

    </div>
</div>

<div class="clearfix margin_top8"></div>

<div class="title33">
    <h1 class="white editable"><strong>Our Stores</strong></h1>
</div>

<div class="clearfix"></div>

<div class="works01">

    <div id="grid-container" class="cbp-l-grid-fullWidth">

        {% for grid in site.stores %}
        <div class="cbp-item">
            <a href="{{ grid.store-grid-lightbox-image }}" class="cbp-caption cbp-lightbox editable" data-title="{{ grid.en-store-grid-lightbox-title }}">
                <div class="cbp-caption-defaultWrap">
                    <img src="{{ grid.store-grid-lightbox-image }}" alt="{{ grid.en-store-grid-description }}" class="editable" />
                </div>
                <div class="cbp-caption-activeWrap center">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <h4 class="editable">{{ grid.en-store-grid-title }}</h4>
                            <p class="editable">{{ grid.en-store-grid-description }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="clearfix margin_top10"></div>

<div class="featured_section26">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="100">

            <i class="fa fa-phone"></i>

            <div class="cont">
                <h3 class="editable">Call Us On 9200 2 6336!</h3>
                <h5 style="font-size:14px;" class="editable">Our customer care team is available to receive your calls 24 hours a day, 7 days a week.</h5>
            </div>

        </div><!--

        <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="200">

            <i class="fa fa-comments"></i>

            <div class="cont">
                <h3 class="editable">Chat Live Now</h3>
                <h5 style="font-size:14px;" class="editable">Chat live with our customer care team regarding any queries you may have.</h5>
            </div>

        </div> -->

        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="300">

            <i class="fa fa-map-marker"></i>

            <div class="cont">
                <a href="meem-locations-en.html"> <h3 class="editable">Find the nearest store</h3></a>
                <h5 style="font-size:14px;" class="editable">We have 12 stores scattered around Riyadh, Jeddah, Dammam, Khobar and Dhahran.</h5>
            </div>

        </div>

    </div>
</div>

<div class="clearfix margin_top10"></div>

<div class="featured_section31">
    <div class="container">
        <h2 class="animate editable" data-anim-type="fadeIn" data-anim-delay="200">One Pack Account</h2>
    </div>
</div>

<div class="clearfix margin_top5"></div>

<div class="featured_section28">
    <div class="container">

        <div class="one_half">
            <iframe width="100%" height="325" src="https://www.youtube.com/embed/C7wIFvSxMC8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
           <!-- <div><a href="meem-one-pack-account-en.html" target="parent"><img src="/resources/images/media/meem_one_pack_player.jpg" alt="Meem - Our One Pack Account" class="rimg editable" /></a></div>-->
        </div>

        <div class="one_half last">

            <p class="bigtfont editable">The One-Pack is a packaged product, which has the combined features of both Current and Savings accounts. It comes with the following optional features:</p>

            <div class="isboxs animate" data-anim-type="fadeInUp" data-anim-delay="100">

                <span aria-hidden="true" class="fa fa-magic"></span>

                <h5 class="editable">Jam-Jars: this enables you to set a saving goal</h5>

            </div>

            <div class="isboxs animate" data-anim-type="fadeInUp" data-anim-delay="200">

                <span aria-hidden="true" class="fa fa-database"></span>

                <h5 class="editable">Budgeting-tool: budget and track your spending</h5>

            </div>

            <div class="isboxs animate" data-anim-type="fadeInUp" data-anim-delay="300">

                <span aria-hidden="true" class="fa fa-pie-chart"></span>

                <h5 class="editable">Auto-Sweep:  move funds between current and saving</h5>

            </div>

            <p class="margin_top2">
                <a class="but_small4 animate editable" data-anim-type="fadeInUp" data-anim-delay="700" href="meem-one-pack-account-en.html" target="_parent">Tell me more</a>

                <a class="but_small4meem animate editable" data-anim-type="fadeInUp" data-anim-delay="700" style="margin-left: 20px;" href="http://online.meem.sa/default.aspx?startpage=onboarding&culture=us" target="_parent">Apply Now!</a>
            </p>
            <div class="clearfix marb12"></div>

        </div>

    </div>
</div>

<div class="clearfix margin_top4"></div>

<div class="parallax_section4">
    <div class="container">

        <h2 class="title21 white editable">Other Products & Services</h2>

        <div class="one_fourth animate" data-anim-type="fadeInDown" data-anim-delay="100">

            <div class="outline"><div class="circle"><img src="/resources/images/icons/icon_currency.png" alt="meem currency card" /></div></div>
            <h3 class="white editable">Currencies Card</h3>
            <p class="white editable">A&nbsp; Shariah compliant&nbsp; Visa Debit Card that can link up to 4 of your foregin currency accounts</p>
            <p><a href="meem-currency-card-en.html" class="but_small4 margin_top6 editable">Tell me more</a></p>

        </div>

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="100">

            <div class="outline"><div class="circle"><img src="/resources/images/icons/icon_murabaha.png" alt="meem murahaba deposit" /></div></div>
            <h3 class="white editable">Murabaha Deposit</h3>
            <p class="white editable">A Shariah compliant Mudarabah investment product that is low risk yet rewarding</p>
            <p><a href="meem-murabaha-deposit-en.html" class="but_small4 margin_top6 editable">Tell me more</a></p>

        </div>

        <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="100">

            <div class="outline"><div class="circle"><img src="/resources/images/icons/icon_creditcard.png" alt="meem credit card" /></div></div>
            <h3 class="white editable">Credit Card</h3>
            <p class="white editable">A Shariah compliant Platinum Visa Credit Card with a wide range of benefits</p>
            <p><a href="meem-visa-platinum-credit-card-en.html" class="but_small4 margin_top6 editable">Tell me more</a></p>

        </div>

        <div class="one_fourth last animate" data-anim-type="fadeInDown" data-anim-delay="100">

            <div class="outline"><div class="circle"><img src="/resources/images/icons/icon_loan.png" alt="meem personal loan" /></div></div>
            <h3 class="white editable">Personal Finance</h3>
            <p class="white editable">A Shariah compliant Murabaha based personal finance with easy and instant access</p>
            <p><a href="meem-personal-finance-en.html" class="but_small4 margin_top6 editable">Tell me more</a></p>

        </div>

    </div>
</div>

<div class="clearfix margin_top4"></div>