---
lang: en-us
layout: default-en
title: Store Locator
description: "You can find us in Riyahd, Jeddah, Dammam, Dhahran, and Khobar. Click to find meem's store locations and business working hours."
social-audio:
social-video:
social-media:
  - tw-summary:
    tw-title: 'meem | Our Stores and locations'
permalink: /en/meem-locations-en.html
alt_url: /ar/meem-locations-ar.html
sitemap:
  exclude:
---
<div class="page_title1 stycc">
    <div class="container">
        <h1 class="editable">Our Locations <em>meem</em></h1>
    </div>
</div><!-- end page title -->

<div class="clearfix"></div>

<div class="content_fullwidth">
    
    <div class="container">
        <p class="editable">&nbsp;</p>
 </div>
 
 
    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Riyadh</h1>
            <p class="editable">Main Store</p>
            <p class="editable">Granada &ndash; GOSI Complex,<br />Qurnata Oasis,<br />Airport Road,<br />Official working hours:<br />9:30 am to 4:30 pm from Sunday to Thursday.<br /><br />*Adha Eid holiday working hours:<br />Main stores will be open to serve you from the 13<sup>th</sup> to the 15<sup>th</sup> of September from 10:00 A.M to 4:00 P.M</p>
        </div>

        <div class="two_third last">
           {% include components/google/maps/riyadh-meem-store.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Riyadh</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Panorama Mall,<br />Takhassosi Road,<br />Madhar Ash Shamali.<br />Official working hours:<br />- Saturday to Thursday: from 9:00 am to 11:00 pm.<br />- Friday: from 4:00 pm to 11:00 pm.<br /><br />*To complete account opening please visit the main store.&nbsp;<br /><br />**Nano store will be closed during Adha Eid holidays from the 9th to the 17th of September.</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/riyadh-meem-nano1.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Riyadh</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Sahafa eXtra Store,<br />Al Sahafa,<br />Thumama Road,<br />Official working hours:<br />- Saturday to Thursday: from 9:00 am to 11:00 pm.<br />- Friday: from 4:00 pm to 11:00 pm.<br /><br />*To complete account opening please visit the main store.<br /><br />**Nano store will be closed during Adha Eid holidays from the 9th to the 17th of September.</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/riyadh-meem-nano2.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Riyadh</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Wurood eXtra Store,<br />Worood,<br />King AbdulAziz Street,<br />Official working hours:<br />- Saturday to Thursday: from 9:00 am to 11:00 pm.<br />- Friday: from 4:00 pm to 11:00 pm.<br /><br />*To complete account opening please visit the main store.<br /><br />**Nano store will be closed during Adha Eid holidays from the 9th to the 17th of September.</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/riyadh-meem-nano3.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">Main Store</p>
            <p class="editable">Prince Sultan Road,<br />In front of the Saudi Airlines Club Gate<br />Official working hours:<br />9:30 am to 4:30 pm from Sunday to Thursday.<br /><br />*Adha Eid holiday working hours:<br />Main stores will be open to serve you from the 13<sup>th</sup> to the 15<sup>th</sup> of September from 10:00 A.M to 4:00 P.M</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/jeddah-meem-store.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Old Airport Road eXtra Store,<br />Abdullah Sulayman,<br />next to SABB,<br />Official working hours:<br />- Saturday to Thursday: from 10:00 am to 12:00 am.<br />- Friday: from 5:00 pm to 12:00 am.<br /><br />*To complete account opening please visit the main store.<br /><br />**Nano store will be closed during Adha Eid holidays from the 9th to the 17th of September.</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/jeddah-meem-nano1.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Red Sea Mall,<br />King Abdulaziz Branch Road,<br />Official working hours:<br />- Saturday to Thursday: from 10:00 am to 11:00 pm.<br />- Friday: from 5:00 pm to 11:00 pm.<br /><br />*To complete account opening please visit the main store.<br /><br />**Nano store will be closed during Adha Eid holidays from the 9th to the 17th of September.</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/jeddah-meem-nano2.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Prince Sultan eXtra,<br />Sultan Mall,<br />Official working hours:<br />- Saturday to Thursday: from 10:00 am to 12:00 am.<br />- Friday: from 5:00 pm to 12:00 am.<br /><br />*To complete account opening please visit the main store.<br /><br />**Nano store will be closed during Adha Eid holidays from the 9th to the 17th of September.</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/jeddah-meem-nano3.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Dhahran</h1>
            <p class="editable">Main Store</p>
            <p class="editable">Al Kifah Tower,<br />Dammam-Khobar Highway,<br />Official working hours:<br />9:30 am to 4:30 pm from Sunday to Thursday.<br /><br />*Adha Eid holiday working hours:<br />Main stores will be open to serve you from the 13<sup>th</sup> to the 15<sup>th</sup> of September from 10:00 A.M to 4:00 P.M</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/eastern-meem-store.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Khobar</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Al Rashid Mall,<br />Official working hours:<br />- Saturday to Thursday: from 9:00 am to 11 in the evening<br />- Friday: from 4:00 pm to 11:00 evening.<br /><br />*To complete account opening please visit the main store.<br /><br />**Nano store will be closed during Adha Eid holidays from the 9th to the 17th of September.</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/eastern-meem-nano1.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Khobar</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">eXtra Store,<br />Official working hours:<br />- Saturday to Thursday: from 9:00 am to 11 evening.<br />- Friday: from 4:00 pm to 11:00 evening.<br /><br />*To complete account opening please visit the main store.<br /><br />**Nano store will be closed during Adha Eid holidays from the 9th to the 17th of September.</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/eastern-meem-nano2.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Dammam</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">AlShati Mall,<br />Ash Shati Ash Sharqi, Al Ashriah Street 32414.<br />Official working hours:<br />- Saturday to Thursday: from 9:00 am to 11 in the evening<br />- Friday: from 4:00 pm to 11:00 evening.<br /><br />*To complete account opening please visit the main store.<br /><br />**Nano store will be closed during Adha Eid holidays from the 9th to the 17th of September.</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/eastern-meem-nano3.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />
</div>