---
lang: en-us
layout: offers-page-en
title: Currencies Card
description: 'No more waiting in lines for currency exchange windows, no more paying extra exchange fees, and no more surprises!'
social-audio:
social-video:
social-media:
  - tw-summary:
    tw-title:
offer-banner:
  - offer-heading-text-1: 'Receive the best<br/>Murabaha Deposit rates<br/>for you and your family<br/>this Ramadan'
    offer-heading-text-2:
    offer-heading-text-3: Welcome to digital banking
    offer-heading-terms: 'Terms &amp; conditions apply'
how-to-apply-boxes:
  - box-last-panel: false
    box-title: How to apply?
    box-description: "Click the button below to learn how to apply whether you're a new or an existing customer."
    box-link: '#applynowlink'
    box-button-text: Find How to Apply
  - box-last-panel: true
    box-title: Request a phone call
    box-description: Click the button below to request our Telesales team to call you in your preferred time.
    box-link: '#phonenowlink'
    box-button-text: Go to Call Request
apply-button:
  - button-text: 'Apply Now!'
    button-link: 'http://online.meem.sa/default.aspx?startpage=onboarding&culture=us'
product:
  - product-title: Currencies Card
    product_description: First of its kind in Saudi Arabia is the Currencies Card which is a visa debit card offered free of charge and without annuals fees. The card can be linked to 4 different currencies designed for your convenience and saving when travelling abroad.
product-benefits:
  - product-benefit-title: "It's free!"
    product-benefit_description: 'Issued free of charge, and no annual fees'
    product-benefit-icon: icon-energy
    product-benefit-delay: '100'
  - product-benefit-title: Charge free POS transactions
    product-benefit_description: Absolutely no fees on point of sale transactions
    product-benefit-icon: icon-magic-wand
    product-benefit-delay: '200'
  - product-benefit-title: Total Control
    product-benefit_description: "Depending on your needs, you may link and unlink foreign accounts to your currencies card anytime anywhere through meem's app or internet banking"
    product-benefit-icon: icon-trophy
    product-benefit-delay: '300'
offer:
  - offer_title:
    offer_description:
form-contact-label-name-text: Name
form-contact-label-email-text: Email
form-contact-label-phone-text: Phone
form-contact-label-calltime-text: Preferred Time for Calling
form-contact-label-button-text: Submit Request
newsletter:
  - subscribe-text: "Never miss meem's offers and promotions. Subscribe to our mailing list."
    form-action_link: '#'
    form-subscribe-button-text: Subscribe
    form-input-field-comment: Enter your email...
permalink: /en/offers/currencies-card-p-6-en.html
alt_url: /ar/offers/currencies-card-p-6-ar.html
sitemap:
  exclude:
---
{% for mast in page.offer-banner %}
<div class="page_titleP6">
    <div class="container">
        <div class="one_half">

        </div>
        <div class="one_half last hideMobile">
            &nbsp;
        </div>
    </div>
</div>
{% endfor %}
<div class="content_fullwidth">

<div class="featured_section80" id="offers">

    <div class="container">
        {% for block in page.how-to-apply-boxes %}
        {% if block.box-last-panel == true %}
        <div class="box last animate" data-anim-type="fadeInLeft" data-anim-delay="200">
            {% else %}
        <div class="box animate" data-anim-type="fadeInLeft" data-anim-delay="200">
        {% endif %}
    	    <span>
        	    <h3 class="caps">{{ block.box-title }}</h3>
                <p class="bigtfont">{{ block.box-description }}</p>
                <br /><br />
        	    <a href="{{ block.box-link }}" class="button twentyone">{{ block.box-button-text }}</a>
            </span>

        </div>
        {% endfor %}
    </div>
</div>

<div class="clearfix margin_top6"></div>

<div class="featured_section18">
    <a id="phonenowlink"></a>
        <div class="container">
            <div class="onecol_sixty">
                {% for offer in page.offer %}
                <h3 style="color: #824BB0;">{{ offer.offer_title }}</h3>
                <p class="bigtfont">{{ offer.offer_description }}</p>
                {% endfor %}
                <br /><br />
                {% for product in page.product %}
                <h2>{{ product.product-title }}</h2>
                <p class="bigtfont">{{ product.product_description }}</p>
                {% endfor %}
                {% for benf in page.product-benefits %}
                <div class="isboxs animate" data-anim-type="fadeInUp" data-anim-delay="{{ benf.product-benefit-delay }}">

                    <span aria-hidden="true" class="{{ benf.product-benefit-icon }}"></span>

                    <h5>{{ benf.product-benefit-title }}</h5>
                    <p>{{ benf.product-benefit_description }}</p>

                </div>
                {% endfor %}
            </div>

            <div class="onecol_forty last">

                <div style="background-color: #0088A2">
                <p class="editable" style="color: #fff; padding: 10px; font-size: 1.2em; text-align: center;">Call Request Form</p>
            </div>

                <div class="cforms">

                    <div id="form_status"></div>

                    <iframe height="600" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://meembygib.wufoo.com/forms/z7ei44s1y5uc1o/ "><a href="https://meembygib.wufoo.com/forms/z7ei44s1y5uc1o/ ">Call me back!</a></iframe>

                </div>

            </div>
            </div>
        </div>
    </div>

<div class="clearfix margin_top6"></div>

<div class="featured_section15 colored">
        <div class="container">

            <h3 class="margin_bottom6 editable">Additional Currency Card Benefits</h3>

            <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="100">

                <span aria-hidden="true" class="icon-rocket"></span>

                <h4 class="editable">Instant Issaunce!</h4>
                <p class="editable">Apply for the currencies card and get it immediately. Collect it in store on the spot or by courier in 3 business days</p>

            </div>

            <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="200">

                <span aria-hidden="true" class="icon-badge"></span>

                <h4 class="editable">Low fees on ATM withdrawals</h4>
                <p class="editable">Only 2.25 % is charged when withdrawing cash from an ATM</p>

            </div>

            <div class="one_third last animate" data-anim-type="fadeIn" data-anim-delay="300">

                <span aria-hidden="true" class="icon-settings"></span>

                <h4 class="editable">Variety of currencies</h4>
                <p class="editable">BHD, AED, QAR, OMR, KWD, EUR, GBP, and USD are the currencies available to be linked to the card</p>

            </div>


            <div class="clearfix margin_top6"></div>


            <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="400">

                <span aria-hidden="true" class="icon-basket-loaded"></span>

                <h4 class="editable">Base currency feature</h4>
                <p class="editable">Select a base currency to convert into other currencies if the currency of your transaction isn't available&nbsp;</p>

            </div>

        </div>
    </div>

    <div class="featured_section69">
        <a id="applynowlink"></a>
        <div class="container">

            <h2 class="title23 editable">How To Apply?</h2>

            <div class="one_half">
                <h3 class="editable">New Customers</h3>
                <p class="editable">First you will need to open a meem <a class="offer-links" href="/en/meem-one-pack-account-en.html">One Pack Account</a> to be able to apply for meem's products. Opening the One Pack Account can be done simply by following these steps:<br />&nbsp;</p>
                <ol>
                    <li class="editable">Click on the "Apply Now!" button below</li>
                    <li class="editable">Fill in the application form</li>
                    <li class="editable">Visit the nearest meem main store to complete your account opening.&nbsp;</li>
                    <li class="editable">Once you have your account set up, you may follow the steps of how to apply for existing meemers.</li>
                </ol>
                <div class="hidden-lg hidden-md hidden-sm">
                <span class="btn animate fadeInLeft" data-anim-type="fadeInLeft" data-anim-delay="200" style="margin-left: 2%">
        	            <a href="http://online.meem.sa/default.aspx?startpage=onboarding&amp;culture=us" class="button twentyone editable">Apply Now!</a>
                    </span>
                </div>
            </div>

            <div class="one_half last">
                <h3 class="editable">Existing Customers</h3>
                <ol>
                    <li class="editable">Login to your account</li>
                    <li class="editable">Click on the products icon</li>
                    <li class="editable">Select Murabaha Deposit from the list</li>
                    <li class="editable">Press on "Add New Product"</li>
                    <li class="editable">Follow the application instruction and you will be able to place your Murabaha Deposit within 5 minutes!</li>
                </ol>
                <div class="hidden-lg hidden-md hidden-sm">
                <span class="btn animate fadeInLeft" data-anim-type="fadeInLeft" data-anim-delay="400" style="margin-left: 2%">
        	            <a href="http://online.meem.sa/default.aspx" class="button twentyone editable">Login To Apply</a>
                    </span>
                </div>
            </div>
            <div class="row hideMobile hideBlock">
                <div class="one_half">
                    <span class="btn animate fadeInLeft" data-anim-type="fadeInLeft" data-anim-delay="200" style="margin-left: 2%">
        	            <a href="http://online.meem.sa/default.aspx?startpage=onboarding&amp;culture=us" class="button twentyone editable">Apply Now!</a>
                    </span>
                </div>
                <div class="one_half last">
                    <span class="btn animate fadeInLeft" data-anim-type="fadeInLeft" data-anim-delay="400" style="margin-left: 2%">
        	            <a href="http://online.meem.sa/default.aspx" class="button twentyone editable">Login To Apply</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix margin_top6"></div>
</div>