---
lang: en-us
layout: offers-page-en
title: 'meem | Murabaha Deposit offer'
description: 'Everyone, everyday can enjoy the best profit rates in the Kingdom of Saudi Arabia with the meem Murabaha Deposit.We will be checking the markets everyday to ensure we offer you the very best rates. Deposit a minimum amount of SAR 10,000 in the meem Murabaha deposit.'
social-audio:
social-video:
social-media:
  - tw-summary:
    tw-title:
offer-banner:
  - offer-heading-text-1: 'Receive the best<br/>Murabaha Deposit rates<br/>for you and your family<br/>this Ramadan'
    offer-heading-text-2:
    offer-heading-text-3: Welcome to digital banking
    offer-heading-terms: 'Terms &amp; conditions apply'
how-to-apply-boxes:
  - box-last-panel: false
    box-title: How to apply?
    box-description: "Click the button below to learn how to apply whether you're a new or an existing customer."
    box-link: '#applynowlink'
    box-button-text: Find How to Apply
  - box-last-panel: true
    box-title: Request a phone call
    box-description: Click the button below to request our Telesales team to call you in your preferred time.
    box-link: '#phonenowlink'
    box-button-text: Go to Call Request
apply-button:
  - button-text: 'Apply Now!'
    button-link: 'http://online.meem.sa/default.aspx?startpage=onboarding&culture=us'
product:
  - product-title: Murabaha Deposit
    product_description: >-
      The meem Murabaha deposit is flexible and Shariah compliant. You can
      withdraw up to 20% of your balance without incurring any financial
      penalties and choose an investment period of between 30 to 720 days.

      The meem Murabaha Deposit is the first Shariah Compliant product with
      online placement and liquidation (fully and partially).
product-benefits:
  - product-benefit-title: Low risk investment option
    product-benefit_description:
    product-benefit-icon: icon-energy
    product-benefit-delay: '100'
  - product-benefit-title: Wide choice of deposit tenures
    product-benefit_description:
    product-benefit-icon: icon-magic-wand
    product-benefit-delay: '200'
  - product-benefit-title: Variety of choice for deposit currencies
    product-benefit_description:
    product-benefit-icon: icon-trophy
    product-benefit-delay: '300'
offer:
  - offer_title: 'Best Profit Rates for everyone, everyday'
    offer_description: '<p>Everyone, everyday can enjoy the best profit rates in the Kingdom of Saudi Arabia with the meem Murabaha Deposit.</p><p>We will be checking the markets everyday to ensure we offer you the very best rates. Deposit a minimum amount of SAR 1,000 in the meem Murabaha deposit.</p><p>Available for a limited time only.</p>'
form-contact-label-name-text: Name
form-contact-label-email-text: Email
form-contact-label-phone-text: Phone
form-contact-label-calltime-text: Preferred Time for Calling
form-contact-label-button-text: Submit Request
newsletter:
  - subscribe-text: "Never miss meem's offers and promotions. Subscribe to our mailing list."
    form-action_link: '#'
    form-subscribe-button-text: Subscribe
    form-input-field-comment: Enter your email...
permalink: /en/offers/murabaha-deposit-p-5b-en.html
alt_url: /ar/offers/murabaha-deposit-p-5b-ar.html
sitemap:
  exclude:
---
{% for mast in page.offer-banner %}
<div class="page_title6">
    <div class="container">
        <div class="one_half">
            <h1>{{ mast.offer-heading-text-1 }}</h1>
            <h3 class="titletxt">{{ mast.offer-heading-text-2 }}</h3>
            <p class="titletxt">{{ mast.offer-heading-text-3 }}</p>
            <p class="terms titletxt">{{ mast.offer-heading-terms }}</p>
        </div>
        <div class="one_half last hideMobile">
            &nbsp;
        </div>
    </div>
</div>
{% endfor %}
<div class="content_fullwidth">

<div class="featured_section18">
    <div class="container">
        <div class="onecol_sixty">
            {% for offer in page.offer %}
            <h3 style="color: #824BB0;">{{ offer.offer_title }}</h3>
            <p class="bigtfont">{{ offer.offer_description }}</p>
            {% endfor %}
            <br /><br />
            {% for product in page.product %}
            <h2>{{ product.product-title }}</h2>
            <p class="bigtfont">{{ product.product_description }}</p>
            {% endfor %}
            {% for benf in page.product-benefits %}
            <div class="isboxs animate" data-anim-type="fadeInUp" data-anim-delay="{{ benf.product-benefit-delay }}">

                <span aria-hidden="true" class="{{ benf.product-benefit-icon }}"></span>

                <h5>{{ benf.product-benefit-title }}</h5>
                <p>{{ benf.product-benefit_description }}</p>

            </div>
            {% endfor %}
        </div>

        <div class="onecol_forty last" style="border: 1px solid #66667f;padding: 10px;">
            <h2>APPLY HERE</h2>
            <iframe height="443" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://meembygib.wufoo.com/embed/kwp0y721g0vjgk/"></iframe>
            <h3 style="color: #824BB0;">Already a meemer?</h3>
            <p>Please login to your account to apply for the Murabaha Deposit.</p>
        </div>
    </div>
</div>

<div class="clearfix margin_top6"></div>

<div class="featured_section15 colored">
    <div class="container">

        <h3 class="margin_bottom6 editable">Additional Murahaba Deposit Benefits</h3>

        <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="100">

            <span aria-hidden="true" class="icon-rocket"></span>

            <h4 class="editable">Multi-currency</h4>
            <p class="editable">Choice of placing deposit in SAR, USD, GBP, and other GCC currencies</p>

        </div>

        <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="200">

            <span aria-hidden="true" class="icon-badge"></span>

            <h4 class="editable">Tenure Options</h4>
            <p class="editable">Tenure option (Days): 30, 90, 180, 360, 720</p>

        </div>

        <div class="one_third last animate" data-anim-type="fadeIn" data-anim-delay="300">

            <span aria-hidden="true" class="icon-settings"></span>

            <h4 class="editable">Up Front Profit Checking</h4>
            <p class="editable">Profit calculation done upfront at the time of placing the deposit</p>

        </div>

        <div class="clearfix margin_top6"></div>

        <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="400">

            <span aria-hidden="true" class="icon-basket-loaded"></span>

            <h4 class="editable">Withdrawals</h4>
            <p class="editable">Depositor can withdraw up to 20% of deposit value without breaking the deposit</p>

        </div>

        <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="500">

            <span aria-hidden="true" class="icon-social-dropbox"></span>

            <h4 class="editable">Commodities</h4>
            <p class="editable">Cement is the offered commodity with the delivery option</p>

        </div>

        <div class="one_third last animate" data-anim-type="fadeIn" data-anim-delay="600">

            <span aria-hidden="true" class="icon-trophy"></span>

            <h4 class="editable">Fast Process</h4>
            <p class="editable">Straight Through Process enables you to get your investment online within few minutes</p>

        </div>

    </div>
</div>

<div class="clearfix margin_top6"></div>

<div class="featured_section69">
    <div class="container">
        <div class="two_third">
            <h2 class="editable">Terms &amp; Conditions</h2>

            <p class="editable">Our Murabaha Deposit rates are strictly a limited offer and may be withdrawn at any time. </p>
            <p class="editable"><a class="meem-link" href="/Murabaha-Deposits-Promotion-Campaign_Terms-and-Conditions.pdf" target="_blank">Click here to view the full Terms &amp; Conditions</a> </p>
        </div>

        <div class="one_third last">

        </div>

    </div>
</div>

<div class="clearfix margin_top6"></div>

</div>