---
lang: en-us
layout: offers-page-en
title: Murabaha Deposit Offers P-2
description:
social-audio:
social-video:
social-media:
  - tw-summary:
    tw-title:
offer-banner:
  - offer-heading-text-1: Simply the best rates
    offer-heading-text-2: "Murabaha Deposit<br />It's for everyone"
    offer-heading-terms: Terms and conditions apply
how-to-apply-boxes:
  - box-last-panel: false
    box-title: How to apply?
    box-description: "Click the button below to learn how to apply whether you're a new or an existing customer."
    box-link: '/en/offers/murabaha-deposit-p-2-en.html#applynowlink'
    box-button-text: How to Apply
  - box-last-panel: true
    box-title: Request a phone call
    box-description: Click the  button below to request our Telesales team to call you in your preferred time.
    box-link: '/en/offers/murabaha-deposit-p-2-en.html#phonenowlink'
    box-button-text: Request a Call
apply-button:
  - button-text: 'Apply Now!'
    button-link: 'http://online.meem.sa/default.aspx?startpage=onboarding&culture=us'
product:
  - product-title: Murabaha Deposit
    product_description: 'The meem Murabaha deposit is flexible and Shariah compliant. You can withdraw up to 20% of your balance without incurring any financial penalties and choose an investment period of between 30 to 720 days. The meem Murabaha Deposit is the first Shariah Compliant product with online placement and liquidation (fully and partially).'
product-benefits:
  - product-benefit-title: Low risk investment option
    product-benefit_description:
    product-benefit-icon: icon-energy
    product-benefit-delay: '100'
  - product-benefit-title: Wide choice of deposit tenures
    product-benefit_description:
    product-benefit-icon: icon-magic-wand
    product-benefit-delay: '200'
  - product-benefit-title: Variety of choice for deposit currencies
    product-benefit_description:
    product-benefit-icon: icon-trophy
    product-benefit-delay: '300'
offer:
  - offer_title: Best Profit Rates for everyone, everyday
    offer_description: "Everyone, everyday can enjoy the best profit rates in the Kingdom of Saudi Arabia with the meem Murabaha Deposit.<br /><br />We will be checking the markets everyday to ensure we offer you the very best rates. Deposit a minimum amount of SAR 10,000 in the meem Murabaha deposit.<br /><br />Available for a limited time only."
offer-conditions:
  - conditions-text: "1.\tThis Murabaha Deposit Promotion shall be valid until 31 December 2016, unless notified otherwise by the Bank."
  - conditions-text: "2.\t“Best profit rates” means the highest profit rates for Murabaha Deposits of up to SAR 1,000,000 for specific tenures offered by the Bank when compared with profit rates for  Murabaha deposits of up to SAR 1,000,000 for the same tenures published by local retail banks incorporated in the Kingdom of Saudi Arabia on their internet banking websites up to 4.00 p.m. as of the previous banking day. The following shall not be considered for the purpose of comparison of Murabaha profit rates:\n\n(a)\tThe rates offered for conventional deposits; and\n(b)\tThe rates offered by foreign banks with branches in Saudi Arabia."
  - conditions-text: "3.\tCustomers must satisfy the minimum Murabaha Deposit requirement for the tenures that are offered."
  - conditions-text: "4.\tProfit rates are subject to change without notice."
  - conditions-text: "5.\tThis Murabaha Deposit Promotion shall only be available to customers who hold the One-Pack account with the Bank and whose applications for Murabaha Deposits are approved by the Bank."
  - conditions-text: "6.\tBy participating in this Murabaha Deposit Promotion, customers are deemed to have read, understood and agreed to these terms and the Bank’s Terms and Conditions that apply to Murabaha Deposits."
  - conditions-text: "7.\tCustomers can check Murabaha deposit profit rates for their desired currency and deposit tenure by logging into meem Online Banking."
  - conditions-text: "8.\tPotential & Existing customers can inquire about the rates by contacting us via:\n(a)\tphone \n(b)\tchat\n(c)\temail\n(d)\tvisiting our stores"
  - conditions-text: "9.\tThe Bank may amend or terminate this Murabaha Deposit Promotion at any time and the customer will be notified through any of the following channels:\n(a)\tBank website \n(b)\tSMS\n(c)\tE-Mail"
  - conditions-text: "10.\tThe Bank’s decision on all matters relating to this Murabaha Deposit Promotion shall be final and binding on all customers."
  - conditions-text: "11.\tThis Murabaha Deposit Promotion shall be governed by the laws of Saudi Arabia."
form-contact-label-name-text: Name
form-contact-label-email-text: Email
form-contact-label-phone-text: Phone
form-contact-label-calltime-text: Preferred Time for Calling
form-contact-label-button-text: Submit Request
newsletter:
  - subscribe-text: "Never miss meem's offers and promotions. Subscribe to our mailing list."
    form-action_link: '#'
    form-subscribe-button-text: Subscribe
    form-input-field-comment: Enter your email...
permalink: /en/offers/murabaha-deposit-p-2-en.html
alt_url: /ar/offers/murabaha-deposit-p-2-ar.html
sitemap:
  exclude:
---
{% for mast in page.offer-banner %}
<div class="page_title4">
    <div class="container">
        <h1>{{ mast.offer-heading-text-1 }} <em>{{ mast.offer-heading-text-2 }}</em> <div class="line"></div></h1>
        <p class="termscond">{{ mast.offer-heading-terms }}</p>
    </div>
</div>
{% endfor %}
<div class="content_fullwidth">

<div class="featured_section80" id="offers">
    <div class="container">
        {% for block in page.how-to-apply-boxes %}
        {% if block.box-last-panel == true %}
        <div class="box last animate" data-anim-type="fadeInLeft" data-anim-delay="200">
            {% else %}
        <div class="box animate" data-anim-type="fadeInLeft" data-anim-delay="200">
        {% endif %}
    	    <span>
        	    <h3 class="caps">{{ block.box-title }}</h3>
                <p class="bigtfont">{{ block.box-description }}</p>
                <br /><br />
        	    <a href="{{ block.box-link }}" class="button twentyone">{{ block.box-button-text }}</a>
            </span>

        </div>
        {% endfor %}
    </div>
</div>

<div class="clearfix margin_top6"></div>

<div class="featured_section18">
    <div class="container">
        <div class="onecol_forty">
            {% for product in page.product %}
            <h2>{{ product.product-title }}</h2>
            <p class="bigtfont">{{ product.product_description }}</p>
            {% endfor %}
            {% for benf in page.product-benefits %}
            <div class="isboxs animate" data-anim-type="fadeInUp" data-anim-delay="{{ benf.product-benefit-delay }}">

                <span aria-hidden="true" class="{{ benf.product-benefit-icon }}"></span>

                <h5>{{ benf.product-benefit-title }}</h5>
                <p>{{ benf.product-benefit_description }}</p>

            </div>
            {% endfor %}
        </div>

        <div class="onecol_sixty last">
            {% for offer in page.offer %}
            <h2>{{ offer.offer_title }}</h2>
            <p class="bigtfont">{{ offer.offer_description }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="clearfix margin_top6"></div>

<div class="featured_section15 colored">
    <div class="container">

        <h3 class="margin_bottom6 editable">Additional Murahaba Deposit Benefits</h3>

        <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="100">

            <span aria-hidden="true" class="icon-rocket"></span>

            <h4 class="editable">Multi-currency</h4>
            <p class="editable">Choice of placing deposit in SAR, USD, GBP, EUR, or other GCC currencies</p>

        </div>

        <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="200">

            <span aria-hidden="true" class="icon-badge"></span>

            <h4 class="editable">Tenure Options</h4>
            <p class="editable">Tenure option (Days): 30, 90, 180, 360, 720</p>

        </div>

        <div class="one_third last animate" data-anim-type="fadeIn" data-anim-delay="300">

            <span aria-hidden="true" class="icon-settings"></span>

            <h4 class="editable">Up Front Profit Checking</h4>
            <p class="editable">Profit calculation done upfront at the time of placing the deposit</p>

        </div>

        <div class="clearfix margin_top6"></div>

        <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="400">

            <span aria-hidden="true" class="icon-basket-loaded"></span>

            <h4 class="editable">Withdrawals</h4>
            <p class="editable">Depositor can withdraw up to 20% of deposit value without breaking the deposit</p>

        </div>

        <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="500">

            <span aria-hidden="true" class="icon-social-dropbox"></span>

            <h4 class="editable">Commodities</h4>
            <p class="editable">Cement is the offered commodity with the delivery option</p>

        </div>

        <div class="one_third last animate" data-anim-type="fadeIn" data-anim-delay="600">

            <span aria-hidden="true" class="icon-trophy"></span>

            <h4 class="editable">Fast Process</h4>
            <p class="editable">Straight Through Process enables you to get your investment online within few minutes</p>

        </div>

    </div>
</div>

<div class="clearfix margin_top6"></div>

<div class="featured_section32">
    <a id="phonenowlink"></a>
    <div class="container">
        {% for btn in page.apply-button %}
        <a id="apply_now_button_offer_top" href="{{ btn.button-link }}" class="button eight editable">{{ btn.button-text }}</a>
        <p class="editable" style="padding-top: 20px;">Terms & conditions apply</p>
        {% endfor %}
    </div>
</div>

<div class="clearfix margin_top6"></div>

<div class="featured_section69">
    <div class="container">
        <div class="two_third">
            <h2 class="editable"><strong>Murabaha Deposits Promotion Campaign</strong><strong> - Terms and Conditions <u></u></strong></h2>
            <ul>
                {% for terms in page.offer-conditions%}
                <li>{{ terms.conditions-text }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="one_third last">

            <div style="background-color: #0088A2">
                <p class="editable" style="color: #fff; padding: 10px; font-size: 1.2em; text-align: center;">Request a call<br />from our Telesales Team</p>
            </div>

                <div class="cforms">

                    <div id="form_status"></div>

                    <iframe height="523" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://meembygib.wufoo.com/embed/z2sk6g10dw4xq/"><a href="https://meembygib.wufoo.com/forms/z2sk6g10dw4xq/">Call me back!</a></iframe>

                </div>

            </div>
        </div>

    </div>
</div>

<div class="clearfix margin_top6"></div>

    <div class="featured_section69 colored">
        <a id="applynowlink"></a>
        <div class="container">

            <h2 class="title23 editable">How To Apply?</h2>

            <div class="one_half">
                <h3 class="editable">New Customers</h3>
                <p class="editable">First you will need to open a meem <a class="offer-links" href="/en/meem-one-pack-account-en.html">One Pack Account</a> to be able to apply for meem's products. Opening the One Pack Account can be done simply by following these steps:<br />&nbsp;</p>
                <ol>
                    <li class="editable">Click on the "Apply Now!" button below (If using mobile or tablet you will be directed to download the meem app where you can apply to open a One Pack Account)</li>
                    <li class="editable">Fill in the application form</li>
                    <li class="editable">Visit the nearest meem store to complete your account opening. </li>
                    <li class="editable">Once you have your account set up, you may follow the steps of how to apply for existing meemers.</li>
                </ol>
            </div>

            <div class="one_half last">
                <h3 class="editable">Existing Customers</h3>
                <ol>
                    <li class="editable">Login to your account</li>
                    <li class="editable">Click on the products icon</li>
                    <li class="editable">Select Murabaha Deposit from the list</li>
                    <li class="editable">Press on "Add New Product"</li>
                    <li class="editable">Follow the application instruction and you will be able to place your Murabaha Deposit within 5 minutes!</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="clearfix margin_top6"></div>

<div class="featured_section32">
    <div class="container">
        {% for btn in page.apply-button %}
        <a id="apply_now_button_offer_bottom" href="{{ btn.button-link }}" class="button eight editable">{{ btn.button-text }}</a>
        {% endfor %}
    </div>
</div>

<div class="clearfix margin_top6"></div>
</div>