---
lang: en-us
layout: offers-page-no-subscription-en
title: Murabaha Deposit Offer
description: 'Everyone, everyday can enjoy the best profit rates in the Kingdom of Saudi Arabia with the meem Murabaha Deposit. We will be checking the markets everyday to ensure we offer you the very best rates..'
social-audio:
social-video:
social-media:
  - tw-summary:
    tw-title:
offer-banner:
  - offer-heading-text-1: 'Best profit rates for everyone, everyday'
    offer-heading-text-2: Murabaha Deposit
    offer-heading-text-3: Welcome to digital banking
    offer-heading-terms: 'Terms &amp; conditions apply'
how-to-apply-boxes:
  - box-last-panel: false
    box-title: How to apply?
    box-description: "Click the button below to learn how to apply whether you're a new or an existing customer."
    box-link: '#applynowlink'
    box-button-text: Find How to Apply
  - box-last-panel: true
    box-title: Request a phone call
    box-description: Click the button below to request our Telesales team to call you in your preferred time.
    box-link: '#phonenowlink'
    box-button-text: Go to Call Request
apply-button:
  - button-text: 'Apply Now!'
    button-link: 'http://online.meem.sa/default.aspx?startpage=onboarding&culture=us'
product:
  - product-title: Murabaha Deposit
    product_description: >-
      The meem Murabaha deposit is flexible and Shariah compliant. You can
      withdraw up to 20% of your balance without incurring any financial
      penalties and choose an investment period of between 30 to 720 days.

      The meem Murabaha Deposit is the first Shariah Compliant product with
      online placement and liquidation (fully and partially).
product-benefits:
  - product-benefit-title: Low risk investment option
    product-benefit_description:
    product-benefit-icon: icon-energy
    product-benefit-delay: '100'
  - product-benefit-title: Wide choice of deposit tenures
    product-benefit_description:
    product-benefit-icon: icon-magic-wand
    product-benefit-delay: '200'
  - product-benefit-title: Variety of choice for deposit currencies
    product-benefit_description:
    product-benefit-icon: icon-trophy
    product-benefit-delay: '300'
offer:
  - offer_title: The best profit rate for everyone.
    offer_description: 'meem is pleased to introduce you to the best profit rate for the Murabaha Deposit in KSA at 3.25% (annual rate). As a digital financial services, meem by Gulf International Bank have lower overheads so can pass these savings onto our customers and continue to offer the best rates in the market for everyone, everyday. This initial offer is valid until the 31st January 2017 and is available for all deposit amounts from SAR 1,000 to SAR 10 million. The minimum investment term is 3 months.'
offer-conditions:
  - conditions-text:
form-contact-label-name-text: Name
form-contact-label-email-text: Email
form-contact-label-phone-text: Phone
form-contact-label-calltime-text: Preferred Time for Calling
form-contact-label-button-text: Submit Request
newsletter:
  - subscribe-text: "Never miss meem's offers and promotions. Subscribe to our mailing list."
    form-action_link: '#'
    form-subscribe-button-text: Subscribe
    form-input-field-comment: Enter your email...
permalink: /en/offers/murabaha-deposit-r-1b-en.html
alt_url: /ar/offers/murabaha-deposit-r-1b-ar.html
sitemap:
  exclude:
---
{% for mast in page.offer-banner %}
<div class="page_titleR1">
    <div class="container">
    </div>
</div>
{% endfor %}
<div class="content_fullwidth">

    <div class="featured_section69">
        <div class="container">

            <h2 class="title23 editable">How To Apply?</h2>

            <div class="one_half">
                <h3 class="editable">New Customers</h3>
                <p class="editable">First you will need to open a meem <a class="offer-links" href="/en/meem-one-pack-account-en.html">One Pack Account</a> to be able to apply for meem's products. Opening the One Pack Account can be done simply by following these steps:<br />&nbsp;</p>
                <ol>
                    <li class="editable">Click on the "Apply Now!" button below</li>
                    <li class="editable">Fill in the application form</li>
                    <li class="editable">Visit the nearest meem main store to complete your account opening.&nbsp;</li>
                    <li class="editable">Once you have your account set up, you may follow the steps of how to apply for existing meemers.</li>
                </ol>
                <div class="hidden-lg hidden-md hidden-sm">
                <span class="btn animate fadeInLeft" data-anim-type="fadeInLeft" data-anim-delay="200" style="margin-left: 2%">
        	            <a id="R.2B-EN-Apply" href="http://online.meem.sa/default.aspx?startpage=onboarding&amp;culture=us" class="button twentyone editable">Apply Now!</a>
                    </span>
                </div>
            </div>

            <div class="one_half last">
                <h3 class="editable">Existing Customers</h3>
                <ol>
                    <li class="editable">Login to your account</li>
                    <li class="editable">Click on the products icon</li>
                    <li class="editable">Select Murabaha Deposit from the list</li>
                    <li class="editable">Press on "Add New Product"</li>
                    <li class="editable">Follow the application instruction and you will be able to place your Murabaha Deposit within 5 minutes!</li>
                </ol>
                <div class="hidden-lg hidden-md hidden-sm">
                <span class="btn animate fadeInLeft" data-anim-type="fadeInLeft" data-anim-delay="400" style="margin-left: 2%">
        	            <a id="R.2B-EN-Login" href="http://online.meem.sa/default.aspx" class="button twentyone editable">Login To Apply</a>
                    </span>
                </div>
            </div>
            <div class="row hideMobile hideBlock">
                <div class="one_half">
                    <span class="btn animate fadeInLeft" data-anim-type="fadeInLeft" data-anim-delay="200" style="margin-left: 2%">
        	            <a id="R.2B-EN-Apply" href="http://online.meem.sa/default.aspx?startpage=onboarding&amp;culture=us" class="button twentyone editable">Apply Now!</a>
                    </span>
                </div>
                <div class="one_half last">
                    <span class="btn animate fadeInLeft" data-anim-type="fadeInLeft" data-anim-delay="400" style="margin-left: 2%">
        	            <a id="R.2B-EN-Login" href="http://online.meem.sa/default.aspx" class="button twentyone editable">Login To Apply</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix margin_top8"></div>

    <div class="featured_section18">
        <a id="phonenowlink"></a>
        <div class="container">
            <div>
                {% for offer in page.offer %}
                <h2 style="color: #824BB0;">{{ offer.offer_title }}</h2>
                <p class="bigtfont">{{ offer.offer_description }}</p>
                {% endfor %}
                <br /><br />
                {% for product in page.product %}
                <h2>{{ product.product-title }}</h2>
                <p class="bigtfont">{{ product.product_description }}</p>
                {% endfor %}
                {% for benf in page.product-benefits %}
                <div class="isboxs animate" data-anim-type="fadeInUp" data-anim-delay="{{ benf.product-benefit-delay }}">

                    <span aria-hidden="true" class="{{ benf.product-benefit-icon }}"></span>

                    <h5>{{ benf.product-benefit-title }}</h5>
                    <p>{{ benf.product-benefit_description }}</p>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

 <div class="clearfix margin_top4"></div>

    <div class="featured_section69 colored" style="padding:20px 0;">
        <div class="container">
            <div class="two_third">
                <h2 class="editable">Terms &amp; Conditions</h2>

                <p class="editable">Our Murabaha Deposit rates are strictly a limited offer and may be withdrawn at any time. </p>
                <p class="editable"><a class="meem-link" href="/Murabaha_Deposit_Offer_Arabic_English_Jan2017.pdf" target="_blank">Click here to view the full Terms &amp; Conditions</a> </p>
            </div>

            <div class="one_third last">
                &nbsp;
            </div>

        </div>
    </div>

</div>