---
lang: ar-sa
direction: rtl
layout: offers-page-ar
title: Murabaha Deposit Offer
description:
social-audio:
social-video:
social-media:
  - tw-summary:
    tw-title:
offer-banner:
  - offer-heading-text-1: ببساطة افضل نسبة ربح
    offer-heading-text-2: وديعة المرابحة للجميع
    offer-heading-terms: تطبق الشروط والأحكام
how-to-apply-boxes:
  - box-last-panel: false
    box-image-alt-text:
    box-title: طلب إتصال هاتفي
    box-description: إضغط على الزر بالأسفل علشان تطلب إتصال هاتفي من فريق المبيعات.
    box-link: '#phonenowlink'
    box-button-text: إطلب إتصال هاتفي
  - box-last-panel: true
    box-image-alt-text:
    box-title: كيفية التقديم؟
    box-description: إضغط على الزر بالأسفل علشان تعرف كيفية التقديم على وديعة المرابحة.
    box-link: '#applynowlink'
    box-button-text: تعرف على كيفية التقديم
apply-button:
  - button-text: 'قدم الآن!'
    button-link: 'http://online.meem.sa/default.aspx?startpage=onboarding&culture=ar'
product:
  - product-title: وديعة مرابحة
    product_description: وديعة المرابحة متوافقة مع أحكام الشريعة و توفر لك هامش ربح بنسب منافسة في السوق. الوديعة مرنة و تقدر تربطها على فترات مختلفة على حسب اللي يناسبك.
product-benefits:
  - product-benefit-title: إستثمار مريح
    product-benefit_description:
    product-benefit-icon: icon-energy
    product-benefit-delay: '100'
  - product-benefit-title: فترات مرنة تناسب الجميع
    product-benefit_description:
    product-benefit-icon: icon-magic-wand
    product-benefit-delay: '200'
  - product-benefit-title: خيارات متعددة لعملة الوديعة
    product-benefit_description:
    product-benefit-icon: icon-trophy
    product-benefit-delay: '300'
offer:
  - offer_title: افضل نسبة فائدة، وديعة المرابحة للجميع
    offer_description: 'بشكل يومي راح نراقب نسب السوق المصرفي علشان نضمن لك أفضل نسبة ربح. كل اللي عليك تسويه هو إنك تسجل دخولك على حساب "م" اون لاين وتودع مبلغ مايقل عن 10,000 ريال سعودي في وديعة المرابحة، مع العلم إن هذا العرض متاح لفترة محدودة فقط.'
offer-conditions:
  - conditions-text: "1.\tسيكون عرض وديعة المرابحة ساري حتى 31 ديسمبر 2016 ، ما لم يتم ابلاغكم خلاف ذلك."
  - conditions-text: "2.\t\"افضل نسبة ربح\" تعني أعلى معدل ربح لودائع المرابحة حتى مبلغ 1,000,000 ريال سعودي لفترة زمنية محددة تقدم من البنك مقارنةً مع معدلات ربح المرابحة المقدمة من قبل بنوك التجزئة المحلية و المؤسسة في المملكة العربية السعودية لجميع ودائع المرابحة حتى مبلغ 1,000,000 ريال سعودي لنفس الفترة الزمنية المعلنة على صفحات الموقع الإلكتروني الخاص ببنوك التجزئة الملحية و المؤسسة في المملكة العربية السعودية و حتى 4.00 مساءً اعتبارا من اليوم المصرفي السابق. لا تعتبر المعدلات التالية مؤهله لغرض مقارنة معدلات ربح المرابحة:\n\n (أ) المعدلات المعروضة على الودائع التقليدية.\n(ب) المعدلات المقدمة من قبل البنوك الأجنبية و التي لها فروع  في المملكة العربية السعودية"
  - conditions-text: "3.\tيجب على العملاء إستيفاء الحد الأدنى لمتطلبات وديعة المرابحة للفترة التي يتم تقديمها."
  - conditions-text: "4.\tتخضع هوامش الربح للتغيير بدون إشعار مسبق."
  - conditions-text: "5.\tهذا العرض متاح فقط للعملاء الذين لديهم حساب م و الذين تمت الموافقة على طلبهم للحصول على وديعة المرابحة من قبل البنك."
  - conditions-text: "6.\tمن خلال المشاركة في هذا العرض، يعتبر العميل قد قرأ وفهم ووافق على هذه الشروط ووافق على شروط وأحكام البنك الخاصة بوديعة المرابحة."
  - conditions-text: "7.\tيستطيع العملاء الحاليون التحقق من هوامش الربح للودائع بالعملة التي يرغبون بها كما يستطيعون الاستعلام عن المدة عن طريق تسجيل الدخول إلى حساب م الالكتروني."
  - conditions-text: "8.\tيستطيع عملاء م الحاليين والمستقبليين الاستفسار عن هوامش الربح التي يرغبونها عن طريق القنوات التالية:\n• الاتصال\n• الدردشة\n •البريد الالكتروني\n• من خلال زيارة أحد مراكز م"
  - conditions-text: "9.\tيحق للبنك تعديل أو إلغاء عرض وديعة المرابحة في أي وقت وسيتم إعلام العميل بذلك عن طريق احد القنوات التالية:\n• موقع البنك الالكتروني\n• الرسائل النصية\n• البريد الالكتروني"
  - conditions-text: "10.\tسيكون قرار البنك بشأن جميع المسائل المتعلقة بعرض وديعة المرابحة نهائي وملزم لجميع العملاء."
  - conditions-text: "11.\tيخضع هذا العرض لأنظمة المملكة العربية السعودية."
form-contact-label-name-text: الإسم
form-contact-label-email-text: البريد الإلكتروني
form-contact-label-phone-text: رقم الهاتف
form-contact-label-calltime-text: الوقت المفضل لإجراء المكالمة
form-contact-label-button-text: إرسل الطلب
newsletter:
  - subscribe-text: إشترك في قائمة بريد م الإلكترونية علشان توصلك عروضنا الحصرية أول بأول
    form-action_link: '#'
    form-subscribe-button-text: إشترك
    form-input-field-comment: أدخل بريدك الإلكتروني
permalink: /ar/offers/murabaha-deposit-p-2-ar.html
alt_url: /en/offers/murabaha-deposit-p-2-en.html
sitemap:
  exclude:
---
{% for mast in page.offer-banner %}
<div class="page_title4">
    <div class="container">
        <h1>{{ mast.offer-heading-text-1 }} <em>{{ mast.offer-heading-text-2 }}</em></h1>
        <p class="termscond">{{ mast.offer-heading-terms }}</p>
    </div>
</div>
{% endfor %}

<div class="content_fullwidth">

    <div class="featured_section80">
        <div class="container">
            {% for block in page.how-to-apply-boxes %}
            {% if block.box-last-panel == true %}
            <div class="box last animate" data-anim-type="fadeInRight" data-anim-delay="200">
                {% else %}
                <div class="box animate" data-anim-type="fadeInLeft" data-anim-delay="200">
                    {% endif %}
    	    <span>
        	    <h3 class="caps">{{ block.box-title }}</h3>
                <p class="bigtfont">{{ block.box-description }}</p>
                <br /><br />
        	    <a href="{{ block.box-link }}" class="button twentyone">{{ block.box-button-text }}</a>
            </span>

                </div>
                {% endfor %}
            </div>
        </div>

    <div class="clearfix margin_top6"></div>

    <div class="featured_section18">
        <div class="container">

            <div class="onecol_sixty ">
                {% for offer in page.offer %}
                <h2>{{ offer.offer_title }}</h2>
                <p class="bigtfont">{{ offer.offer_description }}</p>
                {% endfor %}
            </div>

            <div class="onecol_forty last">
                {% for product in page.product %}
                <h2>{{ product.product-title }}</h2>
                <p class="bigtfont">{{ product.product_description }}</p>
                {% endfor %}
                {% for benf in page.product-benefits %}
                <div class="isboxs animate" data-anim-type="fadeInUp" data-anim-delay="{{ benf.product-benefit-delay }}">

                    <span aria-hidden="true" class="{{ benf.product-benefit-icon }}"></span>

                    <h5>{{ benf.product-benefit-title }}</h5>
                    <p>{{ benf.product-benefit_description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clearfix margin_top6"></div>

    <div class="featured_section15 colored">
            <div class="container">

                <h3 class="margin_bottom6 editable">المزايا الإضافية لوديعة المرابحة</h3>

                <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="100">

                    <span aria-hidden="true" class="icon-rocket"></span>

                    <h4 class="editable">عملات متعددة</h4>
                    <p class="editable">إمكانية الإستثمار بالريال السعودي، الدولار الأمريكي، الجنيه الإسترليني، اليورو، و عملات دول مجلس التعاون الخليجي&nbsp;</p>

                </div><!-- end section -->

                <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="200">

                    <span aria-hidden="true" class="icon-badge"></span>

                    <h4 class="editable">خيارات مدة الوديعة</h4>
                    <p class="editable">خيارات المدة (بالأيام): 30، 90، 180، 360، 720. كل ما زادت المدة تزيد نسبة هامش الربح</p>

                </div><!-- end section -->

                <div class="one_third last animate" data-anim-type="fadeIn" data-anim-delay="300">

                    <span aria-hidden="true" class="icon-settings"></span>

                    <h4 class="editable">حساب هامش الربح</h4>
                    <p class="editable">تقدر تطلع على نسبة هامش الربح لمبلغ الوديعة قبل ما تودع المبلغ</p>

                </div><!-- end section -->


                <div class="clearfix margin_top6"></div>


                <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="400">

                    <span aria-hidden="true" class="icon-basket-loaded"></span>

                    <h4 class="editable">سحب الطوارئ</h4>
                    <p class="editable">تقدر تسحب إلى 20% من إجمالي المبلغ المودع بدون ما تكسر الوديعة وتروح عليك الأرباح اللي كسبتها</p>

                </div><!-- end section -->

                <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="500">

                    <span aria-hidden="true" class="icon-social-dropbox"></span>

                    <h4 class="editable">السلع</h4>
                    <p class="editable">السلع المتوفرة للوديعة هي الإسمنت مع خيار توصيل السلعة</p>

                </div><!-- end section -->

                <div class="one_third last animate" data-anim-type="fadeIn" data-anim-delay="600">

                    <span aria-hidden="true" class="icon-trophy"></span>

                    <h4 class="editable">إجراءات سريعة</h4>
                    <p class="editable">إجراءات التقديم على وديعة المرابحة مميزة عن غيرها لأنها تتم أونلاين والقبول فوري في حال توفر مبلغ الوديعة. الطلب ما ياخذ منك اكثر من 5 دقائق</p>

                </div><!-- end section -->

            </div>
        </div>

    <div class="clearfix margin_top6"></div>

    <div class="featured_section32">
        <a id="phonenowlink"></a>
        <div class="container">
            {% for btn in page.apply-button %}
            <a id="apply_now_button_offer_top" href="{{ btn.button-link }}" class="button eight editable">{{ btn.button-text }}</a>
            <p class="editable" style="padding-top: 20px;">تطبق الشروط والأحكام</p>
            {% endfor %}
        </div>
    </div>
    <a id="telesales"></a>
    <div class="clearfix margin_top6"></div>

    <div class="featured_section69">
        <div class="container">

            <div class="one_third">

                <div style="background-color: #0088A2">
                    <p style="color: #fff; padding: 10px; font-size: 1.2em; text-align: center;" class="editable">&nbsp;سجل طلب إتصال علشان يتواصل معاك فريق المبيعات</p>
                </div>

                <div class="cforms">

                    <div id="form_status"></div>

                    <iframe height="523" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://meembygib.wufoo.com/embed/m1pu4njx1nye4i5/"><a href="https://meembygib.wufoo.com/forms/m1pu4njx1nye4i5/">!كلمن</a></iframe>

                </div>

            </div>

            <div class="two_third last">
                <h2 class="editable">حملة عرض وديعة<span dir="LTR"></span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span><span dir="LTR"></span> </span>المرابحة &ndash; الشروط و الأحكام</h2>
                <ul>
                    {% for terms in page.offer-conditions%}
                    <li>{{ terms.conditions-text }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <div class="clearfix margin_top6"></div>

    <div class="featured_section69 colored">
        <a id="applynowlink"></a>
        <div class="container">

            <h2 class="title23 editable">كيفية التقديم؟</h2>

            <div class="one_half">
                <h3 class="editable">عميل حالي</h3>
                <ol>
                    <li class="editable">سجل دخول في حسابك </li>
                    <li class="editable">إضغط على أيقونة (المنتجات)</li>
                    <li class="editable">ثم إختر (وديعة مرابحة) من قائمة المنتجات</li>
                    <li class="editable">إضغط على زر (إضافة منتج جديد)</li>
                    <li class="editable">إتبع خطوات التقديم على وديعة مرابحة و راح تكون أكملت طلبك في خلال 5 دقائق!</li>
                </ol>
            </div>

            <div class="one_half last">
                <h3 class="editable">عميل جديد</h3>
                <p class="editable">للتقديم على منتجات و خدمات م لازم يكون عندك حساب م فعال. خطوات فتح حساب م بسيطة بإتباع التالي:<span dir="LTR"></span></p>
                <ol>
                    <li class="editable">إضغط على زر (قدم الآن) في الأسفل (في حال كنت تستخدم جوال او تابلت راح تنتقل إلى تحميل تطبيق م اللي من خلاله تقدر تسجل طلب فتح حسب)</li>
                    <li class="editable">عبي نموذج فتح الحساب</li>
                    <li class="editable">بعد الإنتهاء من تعبئة نموذج فتح الحساب تقدرتزور أقرب مركز م لإستكمال إجراءات فتح الحساب</li>
                    <li class="editable">عند إستكمال إجراءات فتح الحساب تقدر تتبع خطوات العملاء الحاليين للتقديم على وديعة المرابحة</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="clearfix margin_top6"></div>

    <div class="featured_section32">
        <div class="container">
            {% for btn in page.apply-button %}
            <a id="apply_now_button_offer_bottom" href="{{ btn.button-link }}" class="button eight editable">{{ btn.button-text }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="clearfix margin_top6"></div>

</div></div>