---
lang: ar-sa
direction: rtl
layout: "offers-page-ar"
title: ""
description: ""

social-audio: null
social-video: null
social-media:
  - tw-summary: ""
    tw-title: ""

offer-banner:
  - offer-heading-text-1: نقل الراتب الحرة
    offer-heading-text-2: بالإضافة إلى مكافأة 10 ٪

how-to-apply-boxes:
  - box-last-panel: false
    box-image-alt-text: ""
    box-title: "Free Lifetime Updates"
    box-description: "Passage lorem lpsum you need sure there anythin embarrassin senerators on Internet the first true generator."
    box-link: "#phonenowlink"
    box-button-text: "READ MORE"
  - box-last-panel: true
    box-image-alt-text: ""
    box-title: "Designed for any Website"
    box-description: "Passage you need sure there anythin embarrassin senerators on Internet the first true generator."
    box-link: "#applynowlink"
    box-button-text: "READ MORE"


apply-button:
  - button-text: "قدم الآن!"
    button-link: "https://online.meem.sa/default.aspx"

product:
  - product-title: "بطاقة العملات"
    product_description: "الأول من نوعه في المملكة العربية السعودية هي بطاقة العملات التي هي عبارة عن بطاقة الخصم فيزا تقدم مجانا و بدون رسوم الحولية . بطاقة يمكن ربط 4 عملات مختلفة مصممة لراحتك والادخار عند السفر إلى الخارج ."

product-benefits:
  - product-benefit-title: "It's free!"
    product-benefit_description: "Issued free of charge, and no annual fees"
    product-benefit-icon: "icon-energy"
    product-benefit-delay: "100"
  - product-benefit-title: Charge free POS transactions
    product-benefit_description: "Absolutely no fees on point of sale transactions"
    product-benefit-icon: "icon-magic-wand"
    product-benefit-delay: "200"
  - product-benefit-title: "Total Control"
    product-benefit_description: "Depending on your needs, you may link and unlink foreign accounts to your currencies card"
    product-benefit-icon: "icon-trophy"
    product-benefit-delay: "300"

offer:
  - offer-title: "Offer"
    offer_description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non viverra nisl, sed lacinia justo. Proin quis condimentum ex, at sodales turpis. Praesent in velit eu odio viverra commodo. Nam eu mauris pharetra, vestibulum lorem vel, aliquam libero. Praesent quis velit dolor. Nunc sit amet est vehicula, bibendum arcu eget, vestibulum velit. Suspendisse ac odio efficitur tellus consequat placerat sed nec dui. Suspendisse vel lorem arcu. Suspendisse leo lectus, ornare eget quam vitae, fermentum vehicula nulla. Pellentesque varius rutrum nibh, sit amet commodo mauris pellentesque nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit."

offer-conditions:
  - conditions-text: "Donec placerat augue nisl, quis auctor enim volutpat et. Ut aliquam ultricies ante vel lacinia. Donec nec lobortis mauris. Ut id nunc et sapien pharetra auctor sed at nulla. Pellentesque efficitur ipsum non orci ullamcorper feugiat. Morbi auctor elementum quam quis vulputate."
  - conditions-text: "Cras in metus lorem. Donec nulla velit, feugiat non facilisis vel, molestie fringilla nisi. Fusce scelerisque posuere augue, et vulputate mi luctus pellentesque."
  - conditions-text: "Duis id aliquam urna. Phasellus rhoncus tempor dolor sed iaculis. In facilisis enim eget ullamcorper euismod. Mauris elementum laoreet pellentesque. Aliquam erat volutpat. Vivamus vel metus in lorem ultricies vehicula. Aliquam erat volutpat."
  - conditions-text: "Sed efficitur metus at sapien varius, eu scelerisque lectus efficitur. Duis a libero rhoncus ante lacinia congue. Quisque ac aliquam tellus. Mauris pharetra ipsum ut ex aliquam consectetur. Vivamus fermentum euismod odio sit amet convallis."

form-contact-label-name-text: "Name"
form-contact-label-email-text: "Email"
form-contact-label-phone-text: "Phone"
form-contact-label-calltime-text: "Preferred Time for Calling"
form-contact-label-button-text: "Send Message"

newsletter:
  - subscribe-text: "Never miss meem's offers and promotions. Subscribe to our mailing list."
    form-action_link: '#'
    form-subscribe-button-text: Submit
    form-input-field-comment: Enter your email...

permalink: "/ar/offers/salary-transfer-o-3-ar.html"
alt_url: "/ar/offers/salary-transfer-o-3-en.html"


sitemap:
  exclude: yes

---
{% for mast in page.offer-banner %}
<div class="page_title4">
    <div class="container">
        <h1>{{ mast.offer-heading-text-1 }} <em>{{ mast.offer-heading-text-2 }}</em> <div class="line"></div></h1>
    </div>
</div>
{% endfor %}

<div class="content_fullwidth">

    <div class="featured_section80">
        <div class="container">
            {% for block in page.how-to-apply-boxes %}
            {% if block.box-last-panel == true %}
            <div class="box last animate" data-anim-type="fadeInRight" data-anim-delay="200">
                {% else %}
                <div class="box animate" data-anim-type="fadeInLeft" data-anim-delay="200">
                    {% endif %}
    	    <span>
        	    <h3 class="caps">{{ block.box-title }}</h3>
                <p class="bigtfont">{{ block.box-description }}</p>
                <br /><br />
        	    <a href="{{ block.box-link }}" class="button twentyone">{{ block.box-button-text }}</a>
            </span>

                </div>
                {% endfor %}
            </div>
        </div>

    <div class="clearfix margin_top6"></div>

    <div class="featured_section18">
        <div class="container">

            <div class="onecol_sixty ">
                {% for offer in page.offer %}
                <h2 class="editable">{{ offer.offer-title }}</h2>
                <p class="bigtfont editable">{{ offer.offer_description }}</p>
                {% endfor %}
            </div>

            <div class="onecol_forty last">
                {% for product in page.product %}
                <h2>{{ product.product-title }}</h2>
                <p class="bigtfont">{{ product.product_description }}</p>
                {% endfor %}
                {% for benf in page.product-benefits %}
                <div class="isboxs animate" data-anim-type="fadeInUp" data-anim-delay="{{ benf.product-benefit-delay }}">

                    <span aria-hidden="true" class="{{ benf.product-benefit-icon }}"></span>

                    <h5>{{ benf.product-benefit-title }}</h5>
                    <p>{{ benf.product-benefit_description }}</p>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clearfix margin_top6"></div>

    <div class="featured_section15 colored">
            <div class="container">

                <h3 class="margin_bottom6 editable">Additional Personal Finance Benefits</h3>

                <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="100">

                    <span aria-hidden="true" class="icon-rocket"></span>

                    <h4 class="editable">عملات متعددة</h4>
                    <p class="editable">إمكانية الإستثمار بالريال السعودي، الدولار الأمريكي، الجنيه الإسترليني، اليورو، و عملات دول مجلس التعاون الخليجي&nbsp;</p>

                </div><!-- end section -->

                <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="200">

                    <span aria-hidden="true" class="icon-badge"></span>

                    <h4 class="editable">خيارات مدة الوديعة</h4>
                    <p class="editable">خيارات المدة (بالأيام): 7، 15، 30، 90، 180، 360، 720. كل ما زادت المدة تزيد نسبة هامش الربح</p>

                </div><!-- end section -->

                <div class="one_third last animate" data-anim-type="fadeIn" data-anim-delay="300">

                    <span aria-hidden="true" class="icon-settings"></span>

                    <h4 class="editable">حساب هامش الربح</h4>
                    <p class="editable">تقدر تطلع على نسبة هامش الربح لمبلغ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;الوديعة قبل ما تودع المبلغ</p>

                </div><!-- end section -->


                <div class="clearfix margin_top6"></div>


                <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="400">

                    <span aria-hidden="true" class="icon-basket-loaded"></span>

                    <h4 class="editable">سحب الطوارئ</h4>
                    <p class="editable">تقدر تسحب إلى 20% من إجمالي &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;المبلغ المودع بدون ما تكسر الوديعة &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; وتروح عليك الأرباح اللي كسبتها</p>

                </div><!-- end section -->

                <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="500">

                    <span aria-hidden="true" class="icon-social-dropbox"></span>

                    <h4 class="editable">السلع</h4>
                    <p class="editable">السلع المتوفرة للوديعة هي الرز، &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;الإسمنت، والسكر مع خيار توصيل &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;السلعة</p>

                </div><!-- end section -->

                <div class="one_third last animate" data-anim-type="fadeIn" data-anim-delay="600">

                    <span aria-hidden="true" class="icon-trophy"></span>

                    <h4 class="editable">إجراءات سريعة</h4>
                    <p class="editable">إجراءات التقديم على وديعة المرابحة مميزة عن غيرها لأنها تتم أونلاين والقبول فوري في حال توفر مبلغ الوديعة. الطلب ما ياخذ منك اكثر من 5 دقائق</p>

                </div><!-- end section -->

            </div>
        </div>

    <div class="clearfix margin_top6"></div>

    <div class="featured_section32">
        <a id="phonenowlink"></a>
        <div class="container">
            {% for btn in page.apply-button %}
            <a id="apply_now_button_offer_top" href="{{ btn.button-link }}" class="button eight editable">{{ btn.button-text }}</a>
            <p class="editable" style="padding-top: 20px;">تطبق الشروط والأحكام</p>
            {% endfor %}
        </div>
    </div>

    <div class="clearfix margin_top6"></div>

    <div class="featured_section69">
        <div class="container">

            <div class="one_third">

                <div style="background-color: #0088A2">
                    <p style="color: #fff; padding: 10px; font-size: 1.2em; text-align: center;" class="editable">For more info request a call<br />from our Telesales Team</p>
                </div>

                <div class="cforms">

                    <div id="form_status"></div>

                    <div id="mc_embed_signup">
                        <form action="//meem.us8.list-manage.com/subscribe/post?u=71634b7b1bf84cec57eb90f41&amp;id=394dcfe6f5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">

                                <div class="indicates-required"><label style="text-align: left;">  <em>*</em> مطلوب</label></div>
                                <div class="mc-field-group margin_top2">
                                    <label for="mce-MMERGE3" class="label"><em>*</em>  الاسم</label>
                                    <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
                                </div>
                                <div class="mc-field-group margin_top2">
                                    <label for="mce-EMAIL" class="label"><em>*</em>  الايميل
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group size1of2 margin_top2">
                                    <label for="mce-MMERGE1" class="label"><em>*</em> الهاتف   </label>
                                    <input type="tel" name="MMERGE1" class="" value="" id="mce-MMERGE1">
                                </div>
                                <div class="mc-field-group margin_top2">
                                    <label for="mce-MMERGE5" class="label">الوقت المفضل للاتصال </label>
                                    <select name="MMERGE5" class="" id="mce-MMERGE5">
                                        <option value="">اختر من فضلك...</option>
                                        <option value="09:00am - 12:00pm">09:00am - 12:00pm</option>
                                        <option value="12:00pm - 03:00pm">12:00pm - 03:00pm</option>
                                        <option value="03:00pm - 06:00pm">03:00pm - 06:00pm</option>

                                    </select>
                                </div>
                                <div class="mc-field-group input-group margin_top2">
                                    <strong>اود الحصول على عروضكم المستقبلية </strong>
                                    <ul><li><input type="radio" value="نعم" name="MMERGE6" id="mce-MMERGE6-0"><label class="radio" for="mce-MMERGE6-0">نعم</label></li>
                                        <li><input type="radio" value="لا" name="MMERGE6" id="mce-MMERGE6-1"><label class="radio"  for="mce-MMERGE6-1">لا</label></li>
                                    </ul>
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <div style="position: absolute; right: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_71634b7b1bf84cec57eb90f41_394dcfe6f5" tabindex="-1" value="">
                                </div>
                                <div class="clear margin_top2">
                                    <input type="submit" value="اتصل الان!" name="subscribe" id="mc-embedded-subscribe" class="button">
                                </div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[3]='MMERGE3';ftypes[3]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='number';fnames[5]='MMERGE5';ftypes[5]='dropdown';fnames[6]='MMERGE6';ftypes[6]='radio'; /*
                     * Translated default messages for the jQuery validation plugin into arabic.
                     * Locale: AR
                     */
                        $.extend($.validator.messages, {
                            required: "هذا الحقل إلزامي",
                            remote: "يرجى تصحيح هذا الحقل للمتابعة",
                            email: "رجاء إدخال عنوان بريد إلكتروني صحيح",
                            url: "رجاء إدخال عنوان موقع إلكتروني صحيح",
                            date: "رجاء إدخال تاريخ صحيح",
                            dateISO: "رجاء إدخال تاريخ صحيح (ISO)",
                            number: "رجاء إدخال عدد بطريقة صحيحة",
                            digits: "رجاء إدخال أرقام فقط",
                            creditcard: "رجاء إدخال رقم بطاقة ائتمان صحيح",
                            equalTo: "رجاء إدخال نفس القيمة",
                            accept: "رجاء إدخال ملف بامتداد موافق عليه",
                            maxlength: $.validator.format("الحد الأقصى لعدد الحروف هو {0}"),
                            minlength: $.validator.format("الحد الأدنى لعدد الحروف هو {0}"),
                            rangelength: $.validator.format("عدد الحروف يجب أن يكون بين {0} و {1}"),
                            range: $.validator.format("رجاء إدخال عدد قيمته بين {0} و {1}"),
                            max: $.validator.format("رجاء إدخال عدد أقل من أو يساوي (0}"),
                            min: $.validator.format("رجاء إدخال عدد أكبر من أو يساوي (0}")
                        });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>

            </div>

            <div class="two_third last">
                <h2 class="editable">Offer Terms &amp; Conditions</h2>
                <ul>
                    {% for terms in page.offer-conditions%}
                    <li>{{ terms.conditions-text }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    <a id="newcustomer"></a>
    <div class="clearfix margin_top6"></div>

    <div class="featured_section69 colored">
        <a id="applynowlink"></a>
        <div class="container">

            <h2 class="title23 editable">How To Apply?</h2>

            <div class="one_half">
                <h3 class="editable">Existing Customers</h3>
                <ol>
                    <li class="editable">Click on the Apply Now! button below</li>
                    <li class="editable">Login to your account</li>
                    <li class="editable">Click on the products icon</li>
                    <li class="editable">Select PRODUCT from ther list</li>
                    <li class="editable">Press on "Add New Product"</li>
                    <li class="editable">Follow the application instruction and you will place your PRODUCT within 5 minutes!</li>
                </ol>
            </div>

            <div class="one_half last">
                <h3 class="editable">New Customers</h3>
                <p class="editable">First you will need to open a meem <a href="/en/meem-one-pack-account-en.html" class="offer-links">One Pack Account</a> to be able to apply for meem's products. Opening the One Pack Account can be done simply by following these steps:</p>
                <ol>
                    <li class="editable">Click <a href="https://online.meem.sa/default.aspx" class="offer-links">HERE</a></li>
                    <li class="editable">Click on "Apply Now!" button</li>
                    <li class="editable">Fill in the application form</li>
                    <li class="editable">Visit the nearest meem store to complete your account opening. Find nearest meem store by clicking <a href="/en/meem-locations-en.html" class="offer-links" target="_blank">HERE</a></li>
                    <li class="editable">Once you have your account set up, you may follow the steps of how to apply for existing meemers.</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="clearfix margin_top6"></div>

    <div class="featured_section32">
        <div class="container">
            {% for btn in page.apply-button %}
            <a id="apply_now_button_offer_bottom" href="{{ btn.button-link }}" class="button eight editable">{{ btn.button-text }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="clearfix margin_top6"></div>

</div>