
<div class="featured_section80A" id="offers">

    <div class="container">
        <div class="onecol_forty">
            <div class="box animate" data-anim-type="fadeInLeft" data-anim-delay="600">
    	        <span>
        	        <h3 class="caps editable">REQUEST A PHONECALL</h3>
                    <p class="bigtfont editable">Click the button below to request our Telesales team to call you in your preferred time.</p>
                </span>
            </div>
        </div>

        <div class="onecol_sixty last">
            <div class="one_half">
                <div class="box animate" data-anim-type="fadeInLeft" data-anim-delay="400">
    	            <span>
        	            <h3 class="caps editable">HOW TO APPLY</h3>
                        <p class="bigtfont editable">Click the button below to apply whether you're a new customer or an existing customer.</p>
                    </span>
                </div>
            </div>

            <div class="one_half">
                <div class="box animate" data-anim-type="fadeInLeft" data-anim-delay="200">
    	            <span>
        	            <h3 class="caps editable">EXISTING CUSTOMER?</h3>
                        <p class="bigtfont editable">Please login to your account to apply.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="onecol_forty">
            <span class="btn animate" data-anim-type="fadeInLeft" data-anim-delay="600" style="margin-left: 2%">
        	    <a href="#phonenowlink" class="button twentyone editable">Go to Call Request</a>
            </span>
        </div>

        <div class="onecol_sixty last">
            <div class="one_half">
                <span class="btn animate" data-anim-type="fadeInLeft" data-anim-delay="400" style="margin-left: 2%">
        	        <a href="#applynowlink" class="button twentyone editable">Find How To Apply</a>
                </span>
            </div>

            <div class="one_half">
                <span class="btn animate" data-anim-type="fadeInLeft" data-anim-delay="200" style="margin-left: 2%">
        	        <a href="http://online.meem.sa/default.aspx?startpage=onboarding&culture=ae" class="button twentyone editable">Login to Apply</a>
                </span>
            </div>
        </div>

        </div>
    </div>
