{% comment %} ######### JS FILES ######### {% endcomment %}
<script type="text/javascript" src="/resources/scripts/universal/jquery.js"></script>
<script type="text/javascript" src="/resources/scripts/animations/js/animations.min.js"></script>
<script type="text/javascript" src="/resources/scripts/mainmenu/bootstrap.min.js"></script>
<script type="text/javascript" src="/resources/scripts/mainmenu/customeUI.js"></script>
<script type="text/javascript" src="/resources/scripts/masterslider/jquery.easing.min.js"></script>
<script type="text/javascript" src="/resources/scripts/scrolltotop/totop.js"></script>
<script type="text/javascript" src="/resources/scripts/mainmenu/modernizr.custom.75180.js"></script>
<script type="text/javascript" src="/resources/scripts/universal/custom.js"></script>

</body>
</html>