{% comment %} footer block lang=ar-sa {% endcomment %}
<footer class="footer4">
    <div class="container">

        <a href="/Meem-Consumer-Protection-Document-Arabic.pdf" class="editable">حماية العملاء</a> | <a href="/ar/meem-customer-care-ar.html" class="editable">سياسة الخصوصية</a>   .meem.com جميع حقوق التأليف والنشر © 2017

        <div class="footer_social_links4">
            <a href="https://www.facebook.com/Meem" class="animate editable" data-anim-type="zoomIn" data-anim-delay="100" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/Meem" class="animate editable" data-anim-type="zoomIn" data-anim-delay="150" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://instagram.com/Meem" class="animate editable" data-anim-type="zoomIn" data-anim-delay="100" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCdKLB_qXzHSe69CJiWb6fbQ" class="animate editable" data-anim-type="zoomIn" data-anim-delay="150" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="https://plus.google.com/+meem" class="animate editable" data-anim-type="zoomIn" data-anim-delay="150" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="https://www.linkedin.com/company/meem-" class="animate editable" data-anim-type="zoomIn" data-anim-delay="150" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>

    </div>{% comment %} end footer block {% endcomment %}
</footer>

<a href="#" class="scrollup">Scroll</a>{% comment %} end scroll to top of the page {% endcomment %}

 {% comment %} close page wrapper {% endcomment %}
