{% comment %} Header block and main menu {% endcomment %}
<header class="header">

    <div class="container">

        {% comment %} Navigation Menu {% endcomment %}
        <div class="menu_main">

            <div class="navbar yamm navbar-default">

                <div class="navbar-header">
                    <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1">
                        <button type="button"> <i class="fa fa-bars"></i></button> <span>القائمة</span>
                    </div>
                </div>

                <div id="navbar-collapse-1" class="navbar-collapse collapse pull-left">

                    <nav>
                        <ul class="nav navbar-nav">

                            <li class="dropdown">
                                <a href="/ar/meem-contact-us-ar.html" class="dropdown-toggle">تواصل معانا</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li> <a href="/ar/meem-locations-ar.html">مراكزنا</a> </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="/ar/meem-products-services-ar.html" class="dropdown-toggle">المنتجات والخدمات</a>

                                <ul class="dropdown-menu" role="menu">
                                    <li> <a href="/ar/meem-one-pack-account-ar.html">حساب م</a> </li>
                                    <li> <a href="/ar/meem-currency-card-ar.html">بطاقة العملات</a> </li>
                                    <li> <a href="/ar/meem-murabaha-deposit-ar.html">وديعة المرابحة</a> </li>
                                    <li> <a href="/ar/meem-visa-platinum-credit-card-ar.html">البطاقة الإئتمانية</a> </li>
                                    <li> <a href="/ar/meem-personal-finance-ar.html">التمويل الشخصي</a> </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="/ar/meem-why-choose-us-ar.html" class="dropdown-toggle active">من إحنا</a>

                                <ul class="dropdown-menu" role="menu">
                                    <li> <a href="/ar/meem-about-us-ar.html">عننا</a> </li>
                                    <li> <a href="http://www.gib.com/board-directors" target="_blank">إدارة م</a> </li>
                                </ul>
                            </li>

                        </ul>
                    </nav>

                </div>

            </div>
        </div>
        {% comment %} end Navigation Menu {% endcomment %}

        {% comment %} Logo {% endcomment %}
        <div class="logo"><a href="/ar/index.html" id="logo4"></a></div>

    </div>

</header> {% comment %} end Header block {% endcomment %}

<div class="clearfix"></div>
