{% comment %} top nav link block lang=ar {% endcomment %}
<div class="top_nav">
    <div class="container">

        <div class="left">
            <a href="{{ page.alt_url }}" class="tpbut"> english</a>
            <!--<a href="#" class="tpbut">الحوار الإلكترون &nbsp;<i class="fa fa-comment"></i></a>&nbsp;-->
            <a href="https://online.meem.sa/default.aspx?culture=ae" class="tpbut">تسجيل الدخول &nbsp;<i class="fa fa-lock"></i></a>
            <a href="https://online.meem.sa/default.aspx?startpage=onboarding&culture=ae" class="tpbut">تسجيل &nbsp;<i class="fa fa-pencil-square-o"></i></a>
        </div>

        <div class="right">
        </div>

    </div>
</div>{% comment %} end top navigation links {% endcomment %}