{% comment %} footer block {% endcomment %}
<footer class="footer4">
    <div class="container">

        <div class="fmlinks">
            <a class="editable" href="http://www.gib.com" target="_blank" style="text-transform: capitalize;">GIB</a>
            <a class="editable" href="/en/meem-customer-care-en.html">CUSTOMER VOICE</a>
            <a class="editable" href="http://www.gib.com/careers" target="_blank">careers</a>
            <a class="editable" href="/Meem-Products-Fees-Charges-2015-12-En.pdf" target="_blank">fees &amp; charges</a>
            <a class="editable" href="/Meem-Consumer-Protection-Document-English.pdf" target="_blank">consumer protection</a>
            <a class="editable" href="/en/meem-locations-en.html" target="_blank">locations</a>
            <a class="editable" href="/en/national-address-en.html">national address registration</a>
        </div>

        Copyright © 2017 Meem.com. All rights reserved.  <a href="#" class="editable">terms of use</a> | <a href="#" class="editable">privacy policy</a>

        <div class="footer_social_links4">
            <a href="https://www.facebook.com/meem" class="animate editable" data-anim-type="zoomIn" data-anim-delay="100" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
            <a href="https://twitter.com/meem" class="animate editable" data-anim-type="zoomIn" data-anim-delay="150" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
            <a href="https://instagram.com/meem" class="animate editable" data-anim-type="zoomIn" data-anim-delay="100" target="_blank"><i class="fa fa-lg fa-instagram"></i></a>
            <a href="https://www.youtube.com/user/MEEM" class="animate editable" data-anim-type="zoomIn" data-anim-delay="150" target="_blank"><i class="fa fa-lg fa-youtube"></i></a>
            <a href="https://plus.google.com/+meem" class="animate editable" data-anim-type="zoomIn" data-anim-delay="150" target="_blank"><i class="fa fa-lg fa-google-plus"></i></a>
            <a href="https://www.linkedin.com/company/meem-" class="animate editable" data-anim-type="zoomIn" data-anim-delay="150" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a>
        </div>

    </div>{% comment %} end footer {% endcomment %}
</footer>

<a href="#" class="scrollup">Scroll</a>{% comment %} end scroll to top of the page {% endcomment %}

 {% comment %} close page wrapper {% endcomment %}
