{% comment %} Contact link block {% endcomment %}
{% for contact in site.data.contact %} {% if contact.lang == "en" %}
<div class="featured_section31">
    <div class="container">
        <div class="one_half">
            <h2 class="animate" data-anim-type="fadeIn" data-anim-delay="400">
                <i class="fa fa-phone"></i> <strong>{{ contact.phone-label }} {{ contact.telephone }}</strong>
            </h2>
        </div>

        <div class="one_half last">
            <h2 class="animate" data-anim-type="fadeIn" data-anim-delay="600">
                <a href="mailto:{{ contact.email }}"><i class="fa fa-envelope-o"></i> <strong>{{ contact.email-label }} {{ contact.email }}</strong></a>
            </h2>
        </div>
    </div>
</div>{% comment %} end contact number block {% endcomment %}
{% endif %}{% endfor %}
<div class="clearfix"></div>