{% comment %} Based on 2-anim-text-block-no-image {% endcomment %}
<div class="featured_section26">
    <div class="container">

        <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="100">

            <i class="fa fa-phone"></i>

            <div class="cont">
                <h3 class="editable">Call Us On 9200 2 6336!</h3>
                <h5 style="font-size:14px;" class="editable">Our customer care team is available to receive your calls 24 hours a day, 7 days a week.</h5>
            </div>

        </div>

        <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="300">

            <i class="fa fa-map-marker"></i>

            <div class="cont">
                <a href="meem-locations-en.html"> <h3 class="editable">Find the nearest store</h3></a>
                <h5 style="font-size:14px;" class="editable">We have 12 stores scattered around Riyadh, Jeddah, Dammam, Khobar and Dhahran.</h5>
            </div>

        </div>

    </div>
</div>